.form-control {
    border: 1px solid #bbcff7;
    font-size: 20px;
}

.form-select{
	border: 1px solid #bbcff7;
    font-size: 19px;
	height: 2.8rem;
}

.main-container {
	margin-left: auto;
	margin-right: auto;
}
.main-container p{
    font-size: 1rem!important;
}
.main-container h2{
    font-size: 1.4rem!important;
}
.main-container h3{
    font-size: 1.25rem!important;
}
.main-container h4{
    font-size: 1.2rem;
}
.main-container h5{
    font-size: 1.1rem;
}
.ck-content {
	line-height: 1.6;
	word-break: break-word;
}

.form-label{
    font-size: 18px;
}


/* categories  */


.star {
	display: block;
	text-align: center;
	font-size: 30px;
	cursor: pointer;
}

.star-icon {
	display: block;
	transition: all .2s ease-in;
	color: #adcef7;
}

.starred .star-icon {
	color: #f6c342;
}

.starred {
	animation: spin .6s forwards;
	transform-origin: 50% 50%;
	transition-timing-function: ease-in-out;
}

.starred .star-icon {
	animation: spin .6s forwards;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transition-timing-function: ease-in-out;
}

.unstarred .star-icon {
	animation: unspin .3s forwards;
	transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	transition-timing-function: ease-in-out;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	33% {
		transform: rotate(175deg);
	}

	66% {
		transform: rotate(120deg);
	}

	100% {
		transform: rotate(144deg);
	}
}

@keyframes unspin {
	0% {
		transform: rotate(142deg);
	}

	100% {
		transform: rotate(72deg);
	}
}

@keyframes hop {
	0% {
		transform: translate(0, 0px);
	}

	17% {
		transform: translate(2px, -10px);
	}

	33% {
		transform: translate(4px, 0px);
	}

	50% {
		transform: translate(-2px, -7px);
	}

	66% {
		transform: translate(-4px, -0px);
	}

	84% {
		transform: translate(-2, -5px);
	}

	100% {
		transform: translate(0, 0px);
	}
}


.nav-pills .nav-link {
	font-size: 18px;
	padding-inline: 10px;
	padding-block: 5px;
}
.nav-item{
	margin-left: 15px;
}
.width-fixed{
	width: 500px;
	max-width: 500px;
	word-wrap: break-word;
}

@media (max-width: 767.98px) {
    .article-content h2{
        font-size: calc(1.3rem + 0.6vw)!important;
    }
    .article-content h3{
        font-size: calc(1.3rem + 0.4vw)!important;
    }
    .article-content h4{
        font-size: calc(1.275rem + 0.3vw)!important;
    }

}