

.body-bg {
background: #F3F4FA !important;
}

h1, h2, h3, h4, h5, h6, strong {
font-weight: 600;
}

/* body { */
/*background: linear-gradient(45deg,#3a3a60,#5f5f8e);
min-height: 100vh;*/
/* } */

.content-area {
max-width: 1280px;
margin: 0 auto;
}

.box {
background-color: #2B2D3E;
padding: 25px 20px;
}

.shadow {
box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
padding-top: 10px;
padding-bottom: 10px;
text-shadow: 0 1px 1px 1px #666;
box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
position: relative;
border-radius: 5px;
}

.sparkboxes .box .details {
/* position: absolute; */
color: #fff;
transform: scale(0.7);
}
.sparkboxes strong {
position: relative;
z-index: 3;
top: -8px;
color: #fff;
}

.box1 {
background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.box2 {
background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.box3 {
background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.box4 {
background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

.box5 {
background-image: linear-gradient( 135deg, #7dc8fe 10%, #0379cd 100%);
}

.box6 {
background-image: linear-gradient( 135deg, #2ac0ac 10%, #3c6bda 100%);
}

.box7 {
background-image: linear-gradient( 135deg, #ffc98f 10%, #d93a5d 100%);
}

.box8 {
background-image: linear-gradient( 135deg, #b858ae 10%, #282fbb 100%);
}

.box9 {
background-image: linear-gradient( 135deg, #35abff 10%, #02528b 100%);
}

.box10 {
background-image: linear-gradient( 135deg, #0ecfb5 10%, #0f3ca5 100%);
}

.box11 {
background-image: linear-gradient( 135deg, #f9962c 10%, #a21232 100%);
}

.box12 {
background-image: linear-gradient( 135deg, #e537d3 10%, #0f168d 100%);
}
