.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.w-90{
    width: 90%;
}
.fs-7{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-17{
    font-size: 17px;
}
.fs-16{
    font-size: 16px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.red{
    color: #ff0000;
}
.bg-blue-c{
    background-color: #211c6a;
}
.bg-yellow-c{
    background-color: #efff00;
}

.bg-white{
    background-color: #fff;
}
.text-white-c{
    color: white!important;
}
.grey{
    color: #555555;
}
.border-blue{
    border:solid 1px #211c6a;
    border-radius: 3px;
}
.active-box{
    border:solid 3px #211c6a;
}
.btn-job-p:hover{
    background-color: #211c6a;
}
.btn-job-p{
    padding: 10px 25px;
    border: unset;
}
.bg-white-c{
    background-color: #ffffff!important;
}
.select-custom{
    appearance: none;
    -webkit-appearance: none;
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 5px 15px 5px 5px;
}
.select-custom:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.input::placeholder{
    color: #b1b1b1;
}
.input::-moz-placeholder {
    color: #b1b1b1;
}
.input:focus {
    color: #939393 ;
    border: unset;
    outline: 0;
}
.input:focus::placeholder {
    color: #9d9d9d ;
}
.select-custom {
    --bs-form-select-bg-img: unset;
}
.border-left-c{
    border-left: #b0b0b0 solid 2px;
}
.down-icon-input{
    background-image: url('../../images/img/create-job-position/chevron-up-solid.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15px auto;
}
.mw-dropdown{
    min-width: 400px;
}
.rounded-pill-c{
    border-radius: 50rem;
}

.bg-blue-header{
    background-color: #9793dd;
}
.rounded-top-3{
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.rounded-bottom-3{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.title-shadow{
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}
.yellow-circle::after{
    content:'' ;
    background-image: url('../../images/img/create-job-position/laptop-code-solid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 28px;
    width: 40px;
    height: 28px;
    position: absolute;
    left: -30px;
    top: 0px;
    background-color: #efff00;
    padding: 28px;
    border-radius: 50%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dark-mode .box-body{
    background-color: #5c5c7d;
} 
.box-body{
    background-color: #f5f2fe;
} 
.dark-mode .bg-body-2{
    background-color: #9191a1;
} 
.bg-body-2{
    background-color: #fff;
} 
.dark-mode .blue3{
    color: #f5f2fe;
}
.text-dark-c{
    color: #0b0b22;
}
.line-top{
    background-color: #211c6a;
    width: 100%;
    height: 3px;
}
.line-top2{
    background-color: #211c6a;
    width: 100%;
    height: 3px;
}
.dark-mode .line-top{
    background-color: #ffffff;
}
.dark-mode .line-top2{
    background-color: #ffffff;
}
.heading-top{
    margin-top: -45px;
}
.heading-top-2{
    margin-top: -31px;
}
.heading-top::after{
    content:'' ;
    background-image: url('../../images/img/create-job-position/Diamond-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 43px;
    width: 57px;
    height: 43px;
    position: absolute;
    right: -45px;
    top: 0px;
}
.heading-top::before{
    content:'' ;
    background-image: url('../../images/img/create-job-position/Diamond-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 43px;
    rotate: 180deg;
    width: 57px;
    height: 43px;
    position: absolute;
    left: -45px;
    top: 0px;
}
.dark-mode .heading-top::after{
    content:'' ;
    background-image: url('../../images/img/create-job-position/Diamond-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 43px;
    width: 57px;
    height: 43px;
    position: absolute;
    right: -45px;
    top: 0px;
}
.dark-mode .heading-top::before{
    content:'' ;
    background-image: url('../../images/img/create-job-position/Diamond-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 57px 43px;
    rotate: 180deg;
    width: 57px;
    height: 43px;
    position: absolute;
    left: -45px;
    top: 0px;
}
.btn-edit{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
    border: unset;
    float: inline-end;
}
.btn-edit2{
    font-size: 17px;
    font-weight: 700;
    padding: 5px 15px;
    border: unset;
    border-radius: 10px;
    margin-top: -40px;
}
.heading-box-2{
    background-color: #1a1a3c;
    width: fit-content;
    margin-inline: auto;
}
.rounded-4{
    border-radius: 1.3rem;
}
.form-check-input {
    width: 18px;
    height: 18px;
    min-width: 18px;
    min-height: 18px;
    position: static!important;
    margin-top: 4px;
    margin-left: -1.25rem;
}
/* .form-check-input:checked */
/* .skill-active:focus,.skill-active:focus-within{
    border: 2px solid #7d77df;
} */
.input-add-active:focus,.input-add-active:focus-within{
    border: 2px solid #7d77df;
}
.checked{
    border: 2px solid #7d77df;
}
.input-add{
    border: 1px solid #cecbff;
    width: 50%;
    border-radius: 10px;
    padding: 5px 20px;
}
.input-add:focus{
    border: 1px solid #cecbff!important;
    outline-color:#cecbff
}
.blue3{
    color: #9793dd;
}
.pointer{
    cursor: pointer;
}

.more-icon::after{
    position: absolute;
    content: url('../../images/img/create-job-position/chevron-up-solid\ \(2\).svg');
    left: -20px;
    top: 3px;
}
/* range input  */
.form-range{
    --thumbColor: #ffdc2e;
    appearance: none;
}
.dark-mode .form-range{
    --thumbColor: #ffdc2e;
}
.form-range::-webkit-slider-runnable-track{
    width: 100%;
    height: 0.6rem;
    cursor: pointer;
    background-color: #e9edf4;
    border-color: transparent;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(41,129,2,1) 25%, rgba(10,83,255,1) 25%, rgba(10,83,255,1) 50%, rgba(255,220,46,1) 50%, rgba(255,220,46,1) 75%, rgba(255,0,0,1) 75%);
    pointer-events: none;
}
.form-range::-moz-range-track{
    width: 100%;
    height: 0.6rem;
    cursor: pointer;
    /* background-color: #e9edf4; */
    border-color: transparent;
    border-radius: 1rem;
    background: linear-gradient(90deg, rgba(41,129,2,1) 25%, rgba(10,83,255,1) 25%, rgba(10,83,255,1) 50%, rgba(255,220,46,1) 50%, rgba(255,220,46,1) 75%, rgba(255,0,0,1) 75%);
    pointer-events: none;
}
.form-range::-moz-range-progress{
    background: transparent;
}
.dark-mode .form-range::-moz-range-progress{
    background: transparent;
}
.dark-mode .form-range::-webkit-slider-runnable-track {
    background: linear-gradient(90deg, rgba(41,129,2,1) 25%, rgba(10,83,255,1) 25%, rgba(10,83,255,1) 50%, rgba(255,220,46,1) 50%, rgba(255,220,46,1) 75%, rgba(255,0,0,1) 75%);
}
.dark-mode .form-range::-moz-range-track{
    background: linear-gradient(90deg, rgba(41,129,2,1) 25%, rgba(10,83,255,1) 25%, rgba(10,83,255,1) 50%, rgba(255,220,46,1) 50%, rgba(255,220,46,1) 75%, rgba(255,0,0,1) 75%);
}

.form-range::-webkit-slider-thumb, .form-range:focus::-webkit-slider-thumb {

    margin-top: -0.25rem;
    border: 0;
    border-radius: 1rem;
    appearance: none;
    background: var(--thumbColor);
    box-shadow: none;
    transition: 0.3s border-color, 0.3s background-color;
}
.form-range::-moz-range-thumb, .form-range:focus::-moz-range-thumb{
    margin-top: -0.25rem;
    border: 0;
    border-radius: 1rem;
    appearance: none;
    background: var(--thumbColor);
    box-shadow: none;
    transition: 0.3s border-color, 0.3s background-color;
}
.dark-mode .form-range::-webkit-slider-thumb {
    background: var(--thumbColor)!important;
}
.dark-mode .form-range::-moz-range-thumb{
    background: var(--thumbColor)!important;
}
.width-range{
    width: 40%;
}
/* .feedback-range{
    color:var(--thumbColor) ;
} */

.fit-content{
    width: fit-content;
}

.width-more{
    width: 125px;
}


.skill-active{
    z-index: 2;
}
.duties-box{
    z-index: 2;
}
.skills-box{
    z-index: 2;
}
.duties-box::before{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2686.svg');
    background-size: 177px 404px;
    background-repeat: no-repeat;
    width: 177px;
    height: 404px;
    position: absolute;
    top: -8px;
    right: 13px;
    z-index: -2;
}
.duties-box::after{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2687.svg');
    background-size: 177px 404px;
    background-repeat: no-repeat;
    width: 177px;
    height: 404px;
    position: absolute;
    bottom: -43px;
    left: 11px;
    z-index: -2;
}
.skills-box::before{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2671.svg');
    background-size: 11px 171px;
    background-repeat: no-repeat;
    width: 11px;
    height: 171px;
    position: absolute;
    top: 150px;
    right: -15px;
    z-index: -2;
}
.skills-box::after{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2671.svg');
    background-size: 11px 171px;
    background-repeat: no-repeat;
    width: 11px;
    height: 171px;
    position: absolute;
    top: 150px;
    left: -15px;
    z-index: -2;
}
.skills-box2{
    z-index: 2;
}
/* .skills-box2::before{
    content: '';
    background-image: url('../../images/img/create-job-position/Path\ 3679.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -276px;
    left: 2px;
    z-index: -2;
} */

.custom-switch-input + .custom-switch-indicator {
    background-color: #008900;
}


.border-gray-dashed{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23C3C3CCFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 20px;
}
.width-fit-content{
    min-width: 150px;
}
.form-title{
    width: fit-content;
    background-color: #f5f2fe;
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 600;
    margin-top: -40px;
}
.dark-mode .form-title{
    background-color: #5c5c7d;
}
.lable-title{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
}
.form-select{
    background-color: #e8e8e8;
    font-size: 18px;
    height: 2.7rem;
    background-size: 16px 20px!important;
}
.necessary::before{
    position: absolute;
    content: '';
    background-image: url('../../images/img/create-job-position/star-solid\ \(1\).svg');
    background-size: 7px 25px;
    width: 7px;
    height: 25px;
    top: 4px;
    right: -11px;
}
.form-control{
    background-color: #e8e8e8;
    font-size: 18px;
    height: 2.7rem;
    background-size: 16px 20px!important;
}
.btn-add{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 25px;
    border: unset;
    border-radius: 10px;
}

.dark-mode .form-feedback{
    color: rgb(255, 188, 188);
}





/* responsive  */

@media (max-width: 767.98px) {

    .border-left-c{
        border-left: unset;
        border-bottom:  #b0b0b0 solid 2px;
    }
    .w-50 {
        width: 100% !important;
    }
    .rounded-pill-c{
        border-radius:30px;
    }
    .fs-md-16{
        font-size: 16px!important;
    }
    .yellow-circle::after{
        display: none;

    }
    .width-range{
        width: 100%;
    }
    .btn-edit2{
        margin-top: 0px;
    }
    .input-add{
        width: 100%;
    }
    .skills-box2::before{
        bottom: -375px;

    }
    
}
@media (max-width: 575.98px) {
    .mw-dropdown{
        min-width: 250px;
    }
    .duties-box::before{
        background-size: 124px 283px;
        width: 124px;
        height: 283px;
        top: -8px;
        right: 0px;
    }
    .duties-box::after{
        background-size: 124px 283px;
        width: 124px;
        height: 283px;
        bottom: -43px;
        left: 0px;
    }
    .lable-title{
        font-size: 16px;
    }
    .form-select{
        font-size: 16px;
    }
    .necessary::before{
        position: absolute;
        content: '';
        background-image: url('../../images/img/create-job-position/star-solid\ \(1\).svg');
        background-size: 7px 25px;
        width: 7px;
        height: 25px;
        top: 0px;
        right: -11px;
    }
    .skills-box2::before{
        bottom: -400px;
    }
    .heading-top::after{
        background-size: 40px 30px;
        width: 40px;
        height: 30px;
        right: -22px;
        top: 6px;
    }
    .heading-top::before{
        background-size: 40px 30px;
        width: 40px;
        height: 30px;
        left: -22px;
        top: 6px;
    }
    .dark-mode .heading-top::after{
        background-size: 40px 30px;
        width: 40px;
        height: 30px;
        right: -22px;
        top: 6px;
    }
    .dark-mode .heading-top::before{
        background-size: 40px 30px;
        width: 40px;
        height: 30px;
        left: -22px;
        top: 6px;
    }
    .btn-add{
        font-size: 16px;
        padding: 4px 20px;
    }
}