.duties-box::before{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2686.svg');
    background-size: 124px 283px;
    background-repeat: no-repeat;
    width: 124px;
    height: 283px;
    position: absolute;
    top: -8px;
    right: 13px;
    z-index: -2;
}
.duties-box::after{
    content: '';
    background-image: url('../../images/img/create-job-position/Group\ 2687.svg');
    background-size: 124px 283px;
    background-repeat: no-repeat;
    width: 124px;
    height: 283px;
    position: absolute;
    bottom: -43px;
    left: 11px;
    z-index: -2;
}
.skills-box2::before{
    content: '';
    background-image: url('../../images/img/create-job-position/Path\ 3679.svg');
    background-size: 90% 79px;
    background-repeat: no-repeat;
    width: 90%;
    height: 79px;
    position: absolute;
    bottom: -108px;
    left: 10%;
    z-index: -2;
}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {
    .duties-box::before{
        background-size: 86px 198px;
        width: 86px;
        height: 198px;
        top: -8px;
        right: 0px;
    }
    .duties-box::after{
        background-size: 86px 198px;
        width: 86px;
        height: 198px;
        bottom: -13px;
        left: 0px;
    }
    .skills-box2::before{
        content: '';
        background-image: url('../../images/img/create-job-position/Path\ 3679.svg');
        background-size: 100% 79px;
        background-repeat: no-repeat;
        width: 100%;
        height: 79px;
        position: absolute;
        bottom: -108px;
        left: 0px;
        z-index: -2;
    }
    .skills-box::before{
        content: '';
        background-image: url('../../images/img/create-job-position/Group\ 2671.svg');
        background-size: 5.5px 85.5px;
        background-repeat: no-repeat;
        width: 5.5px;
        height: 85.5px;
        position: absolute;
        top: 150px;
        right: 0px;
        z-index: -2;
    }
    .skills-box::after{
        content: '';
        background-image: url('../../images/img/create-job-position/Group\ 2671.svg');
        background-size: 5.5px 85.5px;
        background-repeat: no-repeat;
        width: 5.5px;
        height: 85.5px;
        position: absolute;
        top: 150px;
        left: 0px;
        z-index: -2;
    }
}