.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.w-90{
    width: 90%;
}
.fs-7{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-17{
    font-size: 17px;
}
.fs-16{
    font-size: 16px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.red{
    color: #ff0000;
}
.bg-blue-c{
    background-color: #211c6a;
}
.bg-yellow-c{
    background-color: #efff00;
}

.bg-white{
    background-color: #fff;
}
.text-white-c{
    color: white!important;
}
.grey{
    color: #555555;
}
.border-blue{
    border:solid 1px #211c6a;
    border-radius: 3px;
}
.active-box{
    border:solid 3px #7d77df;
}
.ticket-box{
    /* border: 2px solid #cecbff!important; */
    background-color: #fff;
    position: relative;
    cursor: pointer;
    border-radius: 10px;

    background-image: url('../../images/img/register-event/Group\ 1173.svg');
    background-repeat: no-repeat;
    background-position: 5% 90%;
    background-size: 15%;
}
.dark-mode .ticket-box{
    background-color: #2A2A4A;
}
.rounded-4{
    border-radius: 1.3rem;
}

.date{
    width: 130px;
    border-left: 2px dashed #4e48a4;
    background-color: #d8deff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dark-mode .date{
    background-color: #37376a;
}
.dark-mode .text-color-dark{
    color: #dedefd;
}
.date-d{
    font-size: 26px;
    font-weight: bold;
}
.date-m{
    font-size: 22px;
    font-weight: 600;
}
.ticket-info{
    width: 100%;
    padding-left: 15px;
    padding-right: 30px;
    padding-block: 15px;
    position: relative;

}
.ticket-info:before {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-color: #F0F0F5;
    position: absolute;
    top: -13px;
    right: -13px;
    z-index: 1;
    border-radius: 50%;
}
.ticket-info:after {
    content: "";
    display: block;
    width: 26px;
    height: 26px;
    background-color: #F0F0F5;
    position: absolute;
    bottom: -13px;
    right: -13px;
    z-index: 1;
    border-radius: 50%;
}
.dark-mode .ticket-info:before,.dark-mode .ticket-info:after{
    background-color: #1A1A3C;
}
.form-control-c{
    display: block;
    width: 100%;
    padding: 0.475rem 0.75rem;
    color: #4d5875;
    background-clip: padding-box;
    border: 1px solid #e9edf4;
    border-radius: 7px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.ticket-box.disabled-ticket{
    cursor: not-allowed;
    opacity: 0.5;
}

@media (max-width: 400.98px) {
    .ticket-info{
        padding-right: 15px;
    }
}
@media (max-width: 575.98px) {
    .ticket-info{
        padding-right: 15px;
    }
    .ticket-box{
        background-image:unset;
    }
}
