
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'vazir';
    direction: rtl;
    height: 100vh;
}
a{
    text-decoration: none;
}

.accordion{
    border: 2px solid #0d2774;
    margin-top: 10px;
    border-radius: 50px;
    background: #fff;
    position: relative;
}

.accordion .accordion-title{
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin: 10px 20px;
    display: flex;
    align-items: center;

}
.accordion .accordion-title.active .accordion-content{
    border-radius: 0px;
}
.accordion .accordion-title::before{
    content: '\f078';
    font-family: "FontAwesome";
    position: absolute;
    width: 24px;
    height: 15px;
    left: 16px;
    top: 16px;
    color: #605c5c;
}
.accordion .accordion-title.active::before{
    content: '\f077';
    font-family: "FontAwesome";
    left: 16px;
    position: absolute;
    color: #605c5c;
}
.accordion .accordion-content{
    height: 0;
    overflow: hidden;
    transition: all .4s ease-in-out;
    padding: 0 10px;
    /*border-radius: 50px;*/
}
.accordion-content p{
    padding: 10px;
}

/**/

.span-title{
    font-size: 18px;
}
.btn-check:focus + .btn.btn-custom, .btn.btn-custom:focus {
    outline: 0;
    box-shadow:none;
}
.btn.btn-custom{
    background-color: #0969c3;
    color: #fff;
}
.text-custom{
    font-size: 18px;
}
.btn.btn-custom:hover{
    background-color: #002745;
}
.custom-color:nth-child(2n+1) {
    background-color: #ddf0f6;
    border: 1px solid #1e81ce;
}
.custom-color:nth-child(2n) {
    border: 1px solid #818181;
}

.text-span{
    font-size: 16px;
    color: #636363;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.text-a{
    font-size: 16px;
    color: #2252f0;
}
.text-a2{
    font-size: 18px;
    color: #2252f0;
}
.text-a3{
    font-size: 17px;
    color: #000000;
}
.text-title{
    font-size: 18px;
    margin-right: 1.2rem;

}




/*responsive*/

@media screen and (max-width: 1200px) {
    .span-title {
        font-size: 17px;
    }
    .accordion .accordion-title::before {
        width: 20px;
    }
    .accordion .accordion-title.active::before {
        width: 20px;
    }
}
@media screen and (max-width: 992px){

    .accordion .accordion-title::before {
        width: 31px;
        top: 12px;
    }

    .accordion .accordion-title.active::before {
      width: 31px;
        top: 12px;
    }

    .text-custom {
        font-size: 16px;
    }

    .span-title {
        font-size: 15px;
    }
    .span-title img{
        width: 31px!important;
    }
    .span-title span{
        margin-left: .0rem !important;
    margin-right: .0rem !important;

}
}
@media screen and (max-width: 768px){
    .span-title {
        font-size: 18px;
    }

    .accordion .accordion-title::before {
       width: 35px;
        top: 10px;
    }

    .accordion .accordion-title.active::before {
       width: 35px;
        top: 10px;
    }
    .text-custom {
        font-size: 17px;
    }
    .span-title img{
        width: 25px!important;
    }
    .text-custom1{
        justify-content: right!important;
        margin-right: 20px;
    }
}

@media screen and (max-width: 400px) {
    .accordion .accordion-title::before {
        width: 22px;
        top: 8px;

    }
    .accordion .accordion-title.active::before {
        width: 22px;
        top: 8px;
    }
    .span-title {
        font-size: 13px!important;
    }
    .span-title img{
        width: 25px!important;
    }
    .span-title span{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .span-title a{
        margin-left: .1rem !important;
    margin-right: .1rem !important;

    }
    .text-custom {
        font-size: 11px!important;
        margin-right: 10px;
    }
    .text-custom1 {
        font-size: 13px !important;
        margin-right: -12px !important;
    }
    .text-custom1 a{
    margin-right: .0rem !important;
    margin-left: .0rem !important;
    }

    .btn.btn-custom {
        font-size: 12px;
        margin-left: -18px;
    }
    .text-a3{
        font-size: 14px !important;
    }
    .custom-h4{
        font-size: 0.9rem !important;
        text-align: center !important;
    }
    .custom-text-400{
        padding: 0px !important;
        padding-right: 2px !important;
        margin-bottom: 16px !important;
        font-size: 0.9rem !important;
    }
    

}