.di-ltr {
    direction:ltr!important
  }
  .ltr-pull-left {
    float:left!important
  }
  .ltr-pull-right {
    float:right!important
  }
  .ltr-text-left {
    text-align:left!important
  }
  .ltr-text-right {
    text-align:right!important
  }
  .ltr-m-r-0 {
    margin-right:0!important
  }
  .ltr-m-r-5 {
    margin-right:5px!important
  }
  .ltr-m-r-10 {
    margin-right:10px!important
  }
  .ltr-m-r-15 {
    margin-right:15px!important
  }
  .ltr-m-l-0 {
    margin-left:0!important
  }
  .ltr-m-l-5 {
    margin-left:5px!important
  }
  .ltr-m-l-10 {
    margin-left:10px!important
  }
  .ltr-m-l-25 {
    margin-left:25px!important
  }
  .ltr-p-r-0 {
    padding-right:0!important
  }
  .ltr-p-r-15 {
    padding-right:15px!important
  }
  .ltr-p-r-50 {
    padding-right:50px!important
  }
  .ltr-p-l-0 {
    padding-left:0!important
  }
  .ltr-p-l-15 {
    padding-left:15px!important
  }
  .right-0 {
    right:0!important
  }
  .left-0 {
    left:0!important
  }
  .left-auto {
    left:auto!important
  }
  .middle-resume .border-right {
    border-left:1px solid #e1e1e1;
    border-right:0
  }
  .middle-resume .square {
    right:auto!important;
    left:-10px
  }
  .middle-resume .desc {
    padding:30px 0 30px 35px
  }
  .gray-scale .resume-third-template .user .user-info {
    margin:10px 0 0 215px
  }
  .gray-scale .resume-third-template .right-side .parent {
    padding:20px 5px 30px 20px
  }
  .gray-scale .resume-third-template .left-side {
    float:right
  }
  .gray-scale .resume-third-template .left-side ul.parent {
    padding:0 0 0 25px
  }
  .gray-scale .resume-third-template .left-side ul.parent li:before {
    right:auto!important;
    left:-18px!important
  }
  .gray-scale .resume-third-template .left-side:before {
    right:auto!important;
    left:10px
  }
  .gray-scale .resume-third-template .left-side .title h2 {
    margin:0 0 20px 30px
  }
  .gray-scale .resume-third-template .left-side .title:before {
    left:0!important;
    right:auto!important
  }
  .gray-scale .resume-paper.second-template .section .title {
    padding-left:0
  }
  .gray-scale .resume-paper .user .user-info {
    margin:10px 0 0 215px
  }
  .gray-scale .resume-paper .parent {
    margin-right:0;
    margin-left:5.3cm
  }
  .gray-scale .resume-paper .parent ul li:before {
    margin-left:0;
    margin-right:10px
  }
  .gray-scale .resume-paper .title {
    padding:5px 0 5px 8px
  }
  .gray-scale .resume-paper .title h2 {
    font-size:15px;
    word-spacing:0
  }
  @media (max-width:1024px) {
    .top-resume .img-user {
      padding:0 0 0 80px!important
    }
    .top-resume h1 {
      right:auto!important;
      left:350px!important
    }
    .middle-resume .border-right {
      border-right:0!important
    }
  }
  @media (max-width:767px) {
    .middle-resume .border-right {
      border-left:0!important
    }
    .middle-resume .border-right-xs {
      border-left:1px solid #e1e1e1
    }
    .middle-resume h5.ltr-text-right {
      text-align:left!important
    }
    .middle-resume .desc {
      padding:0
    }
  }
  