


.dropup .dropdown-toggle::after {
    display: inline-block;
    margin-right: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid!important;
    border-left: 0.3em solid transparent;
    border-bottom: 0!important;
    border-right: 0.3em solid transparent;

}


.pxp-dashboard-side-user-nav-dropdown > .dropdown-toggle::after {
    left: 9px !important;
    top: 18px!important;
}
.pxp-dashboard-side-user-nav-name.btn.rounded-pill.pxp-nav-btn span {
    text-align: center;
    margin-left: 12px;
}


.nav-item.res-nav{
    border-bottom: 1px solid #f1f0f0;
    padding: 15px 0;
}

@media screen and (max-width: 768px) {
    .pxp-dashboard-side-user-nav-name.btn.rounded-pill.pxp-nav-btn span {
        text-align: center;
        margin-left: 11px!important;
    }
    .pxp-nav-trigger {
        margin-right: 13px!important;
    }
    .pxp-dashboard-side-user-nav {
        padding: 0!important;
    }
}

@media screen and (max-width: 576px) {
    .pxp-user-nav {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
    .pxp-header-container {
        height: 122px!important;
    }
}



@media screen and (max-width: 400px){
    .pxp-user-nav.responsive{
        display: flex!important;
    }
    .pxp-user-nav.responsive .pxp-nav-btn {
        display: flex;
    }
    .pxp-user-nav.responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .pxp-header-container {
        height: 122px!important;
    }
}
