
.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}

.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-yellow{
    background-color: #efff00;
}
.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}


/* ----------------------
        about us
------------------------*/
.text-grey-a{
    color: #777777;
}
.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fs-19{
    font-size: 19px;
}

.text-justify{
    text-align: justify;
}
.bg-darkgrey{
    background-color: #F5F2FE;
}
.sub-title{
    color: #211c6a;
    position: relative;
    z-index: 2;
}
.sub-title::before{
    content: "";
    position: absolute;
    right: 0px;
    top: 16px;
    background-color: #efff00;
    width: 75%;
    height: 15px;
    z-index: -1;
}
.main-title::before{
    content: "";
    position: absolute;
    right: -12px;
    top: 22px;
    background-color: #efff00;
    width: 112%;
    height: 19px;
    z-index: -1;
}
.main-title{
    color: #211c6a;
    position: relative;
    z-index: 2;
}
.blue-shadow{
    border: solid 1px #211c6a;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(33,28,106,1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(33,28,106,1);
    box-shadow: 0px 5px 0px 0px rgba(33,28,106,1);
}
.image-size{
    width: 70%;
    height: auto;
}
.padding-box{
    padding-inline: 3.7rem;
}
.ptop{
    padding-top: 6rem;
}
.path-box{
    position: relative;
}
.path-box::after{
    position: absolute;
    content:'';
    background-image: url('../img/about-us/Path-1.png');
    background-size: 100px 40px;
    display: inline-block;
    top: 50%;
    right: -50px;
    width: 100px;
    height: 40px;
}
.path-box#home::after{
    rotate: 180deg;
}
.ptop#home{
    padding-top: 1rem;
}
.path-box::before{
    position: absolute;
    content:'';
    background-image: url('../img/about-us/Path-2.png');
    background-size: 100px 40px;
    display: inline-block;
    top: 50%;
    left: -50px;
    width: 100px;
    height: 40px;
}

.register-btn{
    font-size: 20px;
    font-weight: 500;
    background-color: #298102;
    color: white;
}
.btn.register-btn:hover{
    background-color: #1a5500;
    color: white;
}

.light-blue{
color: #aaccff;
}
.mid-blue{
    color: #347be6;
}
.dot-c{
    font-size: 40px;
}
.move-right{
    z-index: 1;
    margin-right: -25px;
    min-width: 160px;
}
.move-right::before{
    position: absolute;
    content:'';
    background-image: url('../img/about-us/triangle.png');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 100%;
    right: 0px;
    width: 24px;
    height: 24px;
}
.circle-1{
    font-size: 12px;
    color: #efff00;
}
.circle-2{
    font-size: 12px;
    color: #211c6a;
}

/* .timeline-1 */

.timeline {
    margin-top: -80px;
    z-index: 0;
    position: relative;
}


.timeline ul {
    padding-right: 62px;
    /* margin-top: -20px; */
}

.timeline ul li {
    list-style: none;
    /* margin: 0 auto; */
    position: relative;
    background: #211c6a;
    padding-top: 30px;
    width: 6px;
}

.timeline ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #efff00;
    font-size: 30px;
    color: #211c6a;
    font-weight: bold;
    text-align: center;
}
.timeline ul li.first-l::before,.timeline ul li.last-l::before, .timeline ul li.first-l div::before ,.timeline ul li.last-l div::before{
    display: none;
}
.timeline ul li.first-l div {
    padding: 40px;
}
.timeline ul li.last-l div {
    padding-block: 20px;
}
.timeline ul li div {
    position: relative;
    width:470px;
    right: 45px;
    padding-block: 19px;
    height: auto;
    color: #211c6a;
}
.timeline ul li div::before {
    position: absolute;
    content:'';
    background-image: url('../img/about-us/Group\ 296.png');
    background-size: 21px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 25;
    right: -27px;
    width: 21px;
    height: 15px;
    z-index: 3;
}
.product-list{
    position: relative;
    z-index: 2;
    line-height: 1.5;
}
.product-list::before{
    content: "";
    position: absolute;
    right: -25px;
    top: 8px;
    background-color: #a8d594;
    width:80px;
    height: 13px;
    z-index: -1;
    border-radius: 4px;
}
.timeline ul li.li-2::before {
    content: '۱';
}
.timeline ul li.li-3::before {
    content: '۲';
}
.timeline ul li.li-4::before {
    content: '۳';
}
.timeline ul li.li-5::before {
    content: '۴';
}
.timeline ul li.li-6::before {
    content: '۵';
}
.timeline ul li.li-7::before {
    content: '۶';
}
.timeline ul li.li-8::before {
    content: '۷';
}
.timeline ul li.li-9::before {
    content: '۸';
}
.timeline ul li.li-10::before {
    content: '۹';
}
.timeline ul li.li-11::before {
    content: '۱۰';
}
.timeline ul li.li-12::before {
    content: '۱۱';
}

/* .timeline-2 */

.timeline-2 {
    margin-top: -80px;
    z-index: 0;
    position: relative;
}


.timeline-2 ul {
    padding-right: 62px;
    /* margin-top: -20px; */
}

.timeline-2 ul li {
    list-style: none;
    /* margin: 0 auto; */
    position: relative;
    background: #efff00;
    padding-top: 30px;
    width: 6px;
}

.timeline-2 ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #211c6a;
    font-size: 30px;
    color: #efff00;
    font-weight: bold;
    text-align: center;
}
.timeline-2 ul li.first-l::before,.timeline-2 ul li.last-l::before, .timeline-2 ul li.first-l div::before ,.timeline-2 ul li.last-l div::before{
    display: none;
}
.timeline-2 ul li.first-l div {
    padding: 40px;
}
.timeline-2 ul li.last-l div {
    padding-block: 20px;
}
.timeline-2 ul li div {
    position: relative;
    width:470px;
    right: 45px;
    padding-block: 19px;
    height: auto;
    color: #211c6a;
}
.timeline-2 ul li div::before {
    position: absolute;
    content:'';
    background-image: url('../img/about-us/Group\ 296.png');
    background-size: 21px 15px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 25;
    right: -27px;
    width: 21px;
    height: 15px;
    z-index: 3;
}
.timeline-2 ul li.li-2::before {
    content: '۱';
}
.timeline-2 ul li.li-3::before {
    content: '۲';
}
.timeline-2 ul li.li-4::before {
    content: '۳';
}
.timeline-2 ul li.li-5::before {
    content: '۴';
}
.timeline-2 ul li.li-6::before {
    content: '۵';
}
.timeline-2 ul li.li-7::before {
    content: '۶';
}
.timeline-2 ul li.li-8::before {
    content: '۷';
}
.timeline-2 ul li.li-9::before {
    content: '۸';
}
.timeline-2 ul li.li-10::before {
    content: '۹';
}
.timeline-2 ul li.li-11::before {
    content: '۱۰';
}
.timeline-2 ul li.li-12::before {
    content: '۱۱';
}

.mask-img{
    mask-image: linear-gradient(to top, transparent 5%, black 20%);
}

.feature-icon{
    width: 60%;
    height: auto;
}
.radius-feature{
    border-radius: 20px 3rem 3rem 20px;
    width: 80px;
    min-width: 80px;
    height: 70px;
    min-height: 70px;
}
.rounded-3r{
    border-radius: 3rem;
}
.bg-light-blue{
    background-color: #e8e8f4;
}
.text-f{
    color: #353535;
}
.fs-18{
    font-size: 18px;
}


@media (max-width: 1399.98px) {
    .timeline ul li div,.timeline-2 ul li div {
        width:400px;
    }
}
@media (max-width: 1199.98px) {
    .timeline ul li div ,.timeline-2 ul li div{
        width:300px;
    }
}
@media (max-width: 991.98px) {
    .padding-box{
        padding-inline: 2rem;
    }
    .padding-box.home{
        padding-inline: .5rem;
    }
    .path-box::after{
        position: absolute;
        content:'';
        background-image: url('../img/about-us/Path-1.png');
        background-size: 50px 20px;
        display: inline-block;
        top: 50%;
        right: -25px;
        width: 50px;
        height: 20px;
    }
    .path-box::before{
        position: absolute;
        content:'';
        background-image: url('../img/about-us/Path-2.png');
        background-size: 50px 20px;
        display: inline-block;
        top: 50%;
        left: -25px;
        width: 50px;
        height: 20px;
    }
    .timeline ul li div ,.timeline-2 ul li div{
        width:200px;
    }
}
@media (max-width: 767.98px) {
    .main-title::before{
        right: -12px;
        top: 17px;
        background-color: #efff00;
        width: 112%;
        height: 15px;
        z-index: -1;
    }
    .path-box::after{
        display: none;
    }
    .path-box::before{
        display: none;
    }
    .path-box#home::after{
        position: absolute;
        content:'';
        background-image: url('../img/about-us/Path-1.png');
        background-size: 65px 26px;
        display: inline-block;
        top: 38px;
        right: 4%;
        width: 65px;
        height: 26px;
        rotate: 90deg;
    }
    .path-box#home::before{
        position: absolute;
        content:'';
        background-image: url('../img/about-us/Path-1.png');
        background-size: 65px 26px;
        display: inline-block;
        bottom: 0px;
        width: 65px;
        height: 26px;
        left: 4%;
        top: 84%;
        rotate: -78deg;
    }    
    .ptop{
        padding-top: 1.5rem;
    }
    .timeline ul li div,.timeline-2 ul li div {
        width:400px;
    }
}
@media (max-width: 575.98px) {
    /* .title::before{
        width: 180px;
    } */
    .blue-shadow{
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
    .timeline ul li div,.timeline-2 ul li div {
        width:350px;
    }
    .timeline-2 ul, .timeline ul {
        padding-right: 30px;
    }
    .fs-18{
        font-size: 16px;
    }
    .padding-box.home{
        padding-inline: 0rem;
    }

}
@media (max-width: 475px) {
    .timeline ul li div,.timeline-2 ul li div {
        width:280px;
    }

}
@media (max-width: 400px) {
    .timeline ul li div,.timeline-2 ul li div {
        width: 230px;
    }
}
@media (max-width: 350px) {
    .timeline ul li div,.timeline-2 ul li div {
        width: 180px;
    }
}