
.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.m-top{
    margin-top: -23px;
}
.border-dash{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23C7C7C7FF' stroke-width='3' stroke-dasharray='70%2c 15' stroke-dashoffset='28' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;
}
.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.bg-darkgrey{
    background-color: #F5F2FE;
}
.fs-7{
    font-size: 14px;
}
.fs-17{
    font-size: 17px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}

.grey{
    color: #555555;
}
.grey2{
    color: #bdbdbd;
}
.word-wrap{
    word-wrap: break-word;
}
.text-justify{
    text-align: justify;
}
.box-hover:hover{
    transform: scale(1.04);
    transition: all ease .2s;
}
.form-shadow {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 45%;
}
.bg-art{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(229, 226, 240) 44%);
}
.bg-art-article{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, #f3f1f8 44%);
}
.blog-box {
    border-radius: 14px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #ffffff;
    height: 155px;
}
.blog-box2 {

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23211C6AFF' stroke-width='6' stroke-dasharray='270%2c 150' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 14px;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #ffffff;
    height: 100%;
    width: auto;
}
.mt-7 {
    margin-top: 7rem !important;
}
.blog-img{
    width: 100%;
    min-height: 100%;
    border-radius: 20px 20px 10px 10px!important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.blog-img2{
    width: 100%;
    height: auto;
    /* border-radius: 20px 20px 10px 10px!important; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.article-img{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.img-article-wrapper{
    height: 400px;
    width: 100%;
    max-height: inherit;
    overflow: hidden;
    border-radius: 0% 10% 10% 0% / 0% 50% 50% 0% ;
    background-color: #afa9ea;
}
.h-fix-top{
    height: 400px;
    overflow: hidden;
}


.img-blog-wrapper{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, 3px 3px 0px 0px rgba(33,28,106,1);
    height: 140px;
    width: 200px;
    overflow: hidden;
    border-radius: 20px 20px 10px 10px!important;
    margin-top: -25px;
    position: relative;
}

.img-blog-wrapper2{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, 3px 3px 0px 0px rgba(33,28,106,1);
    height: 100%;
    width: 92%;
    overflow: hidden;
    border-radius: 20px 20px 10px 10px!important;
    margin-top: -25px;
    position: relative;
    background-color: #ffffff;
}



.Rectangle-blue{
    position: absolute;
    z-index: 0;
    top: -55px;
    left: -3px;
    width: 345px;
    height: 226px;
    overflow: hidden;
    rotate: -4deg;
}
.fit-content{
    width: fit-content;
}
.category-blog{
    background-color: #efff00;
    color: #211c6a;
    font-size: 14px;
    font-weight: 800;
    padding: 2px 7px;
    border-radius: 18px;
    width: fit-content;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.category-blog2{
    background-color: #efff00;
    color: #211c6a;
    font-size: 14px;
    font-weight: 800;
    padding: 2px 7px;
    border-radius: 18px;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 19px;
}
.view-blog{
    color: #211c6a;
}
.sidebar-sticky{
    position: sticky;
    top: 150px;
    z-index: 10;
}
.sidebar-sticky-md{
    position: sticky;
    bottom: 0;
    z-index: 10;
    width: 100%;
}
.side-blog{
    border-radius: 25px 25px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff;
}
.side-blog-2{
    border-radius: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff;
}
.side-blog-mo{
    border-radius: 25px 25px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffffff;
}
.toggle-btn {
    cursor: pointer;
}
.toggle-btn[aria-expanded="true"] .fa-angle-down  {
    transform: rotate(180deg);
}
.fa-angle-down{
    transition: transform .35s ease;
}
.toggle-btn[aria-expanded="false"] .fa-angle-up  {
    transform: rotate(180deg);
}
.fa-angle-up{
    transition: transform .35s ease;
}
#categories .ms-2{
    color: #211c6a;
}
#sidebar .ms-2{
    color: #211c6a;
}
#sidebar-title::before{
    content: '';
    width: 80%;
    height: 3px;
    position: absolute;
    top: 0px;
    right: 11%;
    background-color: #efff00;
}
#sidebar-title{
    position: relative;
}

.article-content{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: Vazirmatn, sans-serif;
    line-height: 2.4;
    word-break: break-word;
    text-align: justify;
}
.article-content p{
    font-size: 1rem!important;
}
.article-content h2{
    font-size: 1.5rem!important;
}
.article-content h3{
    font-size: 1.25rem!important;
}
.article-content h4{
    font-size: 1.2rem;
}
.article-content h5{
    font-size: 1.1rem;
}
.article-content * img, .article-content img {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.article-content * figure, .article-content figure {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.top-section-article{
    background-color: #e0e0e0;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.border-dash-purple{
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%237571A3FF' stroke-width='5' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 26px;
}
.title-next{
    margin: -45px 0 0 0px;
    background-color: unset;
    color: #211c6a;
    padding-inline: 15px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
.title-next::before{
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: #efff00;
    width: 92%;
    height: 18px;
    z-index: -1;
}

.fa-message{
    font-size: 20px;
    color: #211c6a;
}
.comment-input {
    padding: 0.9rem 0.9rem;
    border-radius: .8rem;
    border: unset;
    background-color: #ececec;
}
.btn.btn-send:hover{
    background-color: #211c6a;
    transform: scale(1.04);
    transition: all ease .2s;
}

.h-fix-card{
    height: 73%;
}
.pe-toc-3{
    padding-right: 1.3rem !important;
}
.pe-toc-4{
    padding-right: 2rem !important;
}
.pe-toc-5{
    padding-right: 3.5rem !important;
}
.custom-popover {
    --bs-popover-max-width: 200px;
    --bs-popover-border-width: 0px;
    --bs-popover-header-bg: #efff00;
    --bs-popover-header-color: #efff00;
    --bs-popover-header-padding-y: 0px;
    --bs-popover-header-font-size: 5px;
    --bs-popover-body-padding-x: .9rem;
    --bs-popover-body-padding-y: 1rem;
    --bs-popover-zindex: 500;
    --bs-popover-font-size: 16px;
    --bs-popover-body-color: #ffffff;
    --bs-popover-bg: #211c6a;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.popover-body {
    font-weight: 600;
}
.no-info{
    font-size: 20px;
    background-color: #efff0038;
    border: solid 2px #efff00;
    border-radius: 16px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    color: #211c6a;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: right !important;
    padding-right: 8px!important;
    padding-left: 8px!important;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0px!important;
}

.breadcrumb-item{
    font-weight: 500!important;
    font-size: 18px!important;
}
.breadcrumb-item a{
    color: #211c6a!important;
}
.breadcrumb-item a:hover{
    border-bottom: 3px solid #efff00;
}
.wrap {
    text-align: center;
}

.likeButton #heart {
    fill: rgba(125, 125, 125, 0.5);
    cursor: pointer;
}
.heartdisable {
    fill: rgba(125, 125, 125, 0.5);
    cursor: pointer;
}

.likeButton #circle {
    fill: none;
}

.likeButton #particle {
    fill: none;
}

.likeButton.like #heart {
    transform-origin: 50% 50%;
    -webkit-animation: heartAnimation 500ms;
    animation: heartAnimation 500ms;
    fill: #fe2e2e;
    color: #fe2e2e;
}

.likeButton.like #circle {
    transform-origin: 50% 50%;
    -webkit-animation: circleAnimation 600ms;
    animation: circleAnimation 600ms;
    color: #fe2e2e;
}

.likeButton.like #particle {
    transform-origin: 50% 50%;
    -webkit-animation: particleAnimation 450ms;
    animation: particleAnimation 450ms;
    color: #fe2e2e;
}

@-webkit-keyframes heartAnimation {
    0% {
        transform: scale(0);
        stroke-width: 0;
    }

    15% {
        stroke-width: 100;
    }

    30% {
        stroke-width: 200;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heartAnimation {
    0% {
        transform: scale(0);
        stroke-width: 0;
    }

    15% {
        stroke-width: 100;
    }

    30% {
        stroke-width: 200;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes circleAnimation {
    0% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(0);
    }

    20% {
        fill: rgba(255, 20, 147, 0.2);
        transform: scale(0.5);
    }

    50% {
        fill: rgba(255, 20, 147, 0.3);
    }

    100% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(1.2);
    }
}

@keyframes circleAnimation {
    0% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(0);
    }

    20% {
        fill: rgba(255, 20, 147, 0.2);
        transform: scale(0.5);
    }

    50% {
        fill: rgba(255, 20, 147, 0.3);
    }

    100% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(1.2);
    }
}

@-webkit-keyframes particleAnimation {
    0% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(0);
    }

    20% {
        fill: rgba(255, 20, 147, 0.2);
        transform: scale(0.2);
    }

    50% {
        fill: rgba(255, 20, 147, 0.4);
        transform: scale(0.6);
    }

    80% {
        fill: rgba(255, 20, 147, 0.6);
        transform: scale(1.2);
    }

    100% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(1.4);
    }
}

@keyframes particleAnimation {
    0% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(0);
    }

    20% {
        fill: rgba(255, 20, 147, 0.2);
        transform: scale(0.2);
    }

    50% {
        fill: rgba(255, 20, 147, 0.4);
        transform: scale(0.6);
    }

    80% {
        fill: rgba(255, 20, 147, 0.6);
        transform: scale(1.2);
    }

    100% {
        fill: rgba(255, 20, 147, 0);
        transform: scale(1.4);
    }
}
.w-md-50{
    width: 50%;
}
.plus{
    display: none;
}
.active-category{
    background-color: #f5ff6b;
}
.active-category .plus{
    display: block;
}

/* .active-category::before{
    content: url('../img/search-jobs/plus-solid.svg');
    position: absolute;
    top: 8px;
    left: 6px;
    cursor: pointer;
    z-index: 4;
} */

.bg-lightgrey{
    background-color: #dcdbf9;
}
.reply-comment{
    background-color: #fff;
}
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.pointer{
    cursor: pointer;
}
.user-comment{
    border-radius: 50%;
}
.m-reply{
    margin-right: 20px;
}
.m-reply-inherit{
    margin-right: inherit;
}
.user-comment img{
    border-radius: 50%;
}
.col-right {
    flex: 0 0 auto;
    width: 12.33333333%;
}
.col-left {
    flex: 0 0 auto;
    width: 77%;
}
.col-left-reply{
    flex: 0 0 auto;
    width: 85%;
}
.open-comments{
    position: absolute;
    width: 70px;
    height: auto;
    bottom: -28px;
    left: 32px;
}
.open-comments .blue{
    position: absolute;
    bottom: -8px;
    left: 19px;
}
#svg {
    width: 50px;
    height: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -78px;
    z-index: 1000;
}
.angleDown{
    transition: all 1.5s ease;
}
.fa-angle-down{
    transform: rotate(0deg);
}

.fa-angle-down.open{
    transform: rotate(180deg);
}
.modal-header .btn-close.share-close {
    margin: calc(-0.5 * var(--bs-modal-header-padding-y)) auto calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) ;
}
.modal-header{
    background-color: #f3ff47;
}
.modal-title{
    margin-right: auto;
}
.social-madia-icon{
    height: 42px;
    width: 42px;
    margin-right: 5px;
}
.social-madia-icon img{
    height: 100%;
    width: 100%;
}
/* ----------------------
        responsive
------------------------*/

@media (max-width: 991.98px) {
    .h-fix-top{
        height: 300px;
    }
    .img-article-wrapper{
        height: 300px;
    }
}

@media (max-width: 767.98px) {
    .blog-box2{
        height: auto;
    }
    .blog-img2{
        transform: unset;
    }
    .w-md-50{
        width: 100%;
    }
    .img-article-wrapper{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: 100%;
        width: 70%;
        overflow: hidden;
        border-radius: 20px 20px 10px 10px!important;
        position: relative;
        margin-top: 1rem;
    }
    .article-img{
        position: unset;
        top: unset;
        transform: unset;
    }
    .h-fix-top{
        height: auto;
    }
    .article-content h2{
        font-size: calc(1.3rem + 0.6vw)!important;
    }
    .article-content h3{
        font-size: calc(1.3rem + 0.4vw)!important;
    }
    .article-content h4{
        font-size: calc(1.275rem + 0.3vw)!important;
    }
    .col-right {
        flex: 0 0 auto;
        width: 40%;
    }
    .col-left {
        flex: 0 0 auto;
        width: 100%;
    }
    .m-reply{
        margin-right: 10px;
    }

}
@media (max-width: 575.98px) {
    .blog-box{
        height: auto;
    }
    .form-shadow {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
    }
    .article-content * figure, .article-content figure {
        width: 100%!important;
        height: auto;
    }
    .article-content{
        box-shadow: unset;
    }
    .breadcrumb-item{
        font-weight: 500!important;
        font-size: 15px!important;
    }
    
}
@media (max-width: 450.98px) {
    .mt-7{
        margin-top: 4rem!important;
    }
}