.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.m-top{
    margin-top: -23px;
}
.border-dash{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23C7C7C7FF' stroke-width='3' stroke-dasharray='70%2c 15' stroke-dashoffset='28' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;
}
.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.bg-darkgrey{
    background-color: #F5F2FE;
}
.fs-7{
    font-size: 14px;
}
.fs-17{
    font-size: 17px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.grey{
    color: #555555;
}

.word-wrap{
    word-wrap: break-word;
}
p{
    word-wrap: break-word!important;
}

/* ----------------------
        company about
------------------------*/
.text-justify{
    text-align: justify;
}
.box-hover:hover{
    transform: scale(1.04);
    transition: all ease .2s;
}
/* .box-hover-up:hover{
    transform: translate(0, -7px);
    transition: all ease .2s;
} */

.image-top{
    max-height: 340px;
}
.move-up{
    margin-top: -50px;
}
.logo-border{
    border:solid #211c6a;
    border-top-left-radius: 80px 80px;
    border-top-right-radius: 2rem;
    border-width: 3px 0 0 3px;
}
.logo-c-width{
    max-width: 100%;
    max-height: 100%;
}
.logo-box-c{
    width: 200px;
}

.fs-18{
    font-size: 18px;
}
.w-85{
    width: 85%;
}
.text-grey{
    color: #626262;
}
.light-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
}
.tab-style{
    width: 24px;
    height: 24px;
}
.tab-style::before{
    content: '';
    background-image: url('../img/company/triangle.png');
    background-size: 24px 24px;
    display: block;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}
.bg-grey{
    background-color: #f7f7f7;
}
.nav-btn{
    font-weight: 500;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    font-weight: 500;
    color: #efff00!important;
    border-bottom:solid 4px #efff00;

}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
    border-bottom:solid 4px #efff00;
}
.nav-underline {
    --bs-nav-underline-gap: 3rem;
    --bs-nav-underline-border-width: 4px;
    --bs-nav-underline-link-active-color: #efff00;
}
.custom-rounded{
    border-top-left-radius: 150px;
    border-top-right-radius: 30px;
}
.left-angle-width{
    width: 10px;
    height: 17px;
}
.title{
    color: #211c6a;
    position: relative;
    z-index: 2;
}
.title::before{
    content: "";
    position: absolute;
    right: 0px;
    top: 18px;
    background-color: #efff00;
    width: 18%;
    height: 15px;
    z-index: -1;
}
.bg-gr{
    background-color: #b7b6cf; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bg-gr-2{
    background-color: #c9dcc0; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.job-img{
    max-width: 60px;
    max-height: 60px;
}
.cv-btn{
    background-color: #b7b6cf;
    min-width: 130px;
}
.cv-btn-2{
    background-color: #c9dcc0;
    min-width: 130px;
}
.cv-btn-2:hover{
    background-color: #a3c097;
}
.cv-btn:hover{
    background-color: #9d9abe;
}
.w-small{
    width: 18px!important;
    height:auto!important;
}
.border-piece{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23211C6AFF' stroke-width='6' stroke-dasharray='300%2c 200' stroke-dashoffset='75' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 22px;
}
.border-piece-2{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23298102FF' stroke-width='6' stroke-dasharray='300%2c 200' stroke-dashoffset='75' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 22px;
}
.txt-green{
    color: #353535;
}
.bg-halfc{
    background-image:url('../img/company/Subtraction\ 3\ \(2\).png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px auto;
}
.bg-halfc-2{
    background-image:url('../img/company/Subtraction\ 3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px auto;
}
.logo-bg{
    background-color: #211c6a;
    padding: 14px;
    width: 21px;
    height: 21px;
    position: relative;
}
.contact-logo{
    position: absolute;
    width: 16px!important;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.customc-input{
    padding: 0.9rem 0.9rem;
    border-radius: .8rem;
    border: unset;
    background-color: #ffffff;
}
.btn-send:hover{
    transform: scale(1.04);
    transition: all ease .2s;
    background-color: #211c6a;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block!important;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 40%;
    right: -10px;
    color: #211c6a!important;
}
.block-intern .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 40%;
    right: -10px;
    color: #298102!important;
}
.owl-carousel .owl-nav button.owl-prev span{
    font-size: 50px!important;
}
.owl-carousel .owl-nav button.owl-next span{
    font-size: 50px!important;
}
.owl-carousel {
    position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 40%;
    left: -10px;
    color: #211c6a!important;
}
.block-intern .owl-carousel .owl-nav button.owl-next,.block-intern .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    top: 40%;
    left: -10px;
    color: #298102!important;
}

.up-push{
    margin-top: -30px;
}
.boder-dash-logo{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23211C6AFF' stroke-width='4' stroke-dasharray='50%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 22px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.company-logo{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ----------------------
        responsive
------------------------*/

@media (max-width: 991.98px) {
    .w-85{
        width: 95%;
    }
}

@media (max-width: 767.98px) {
    .image-top{
        max-height: 200px!important;
    }
}
@media (max-width: 575.98px) {

    .title::before{
        width: 180px;
    }
    .tab-title{
        font-size: 16px;
    }
    .custom-rounded{
        border-top-left-radius: 50px;
        border-top-right-radius: 30px;
    }
}