body {
    font-family: Vazirmatn, sans-serif;
    text-align: right;
}
a{
    text-decoration: none!important;
}
.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}

.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.green{
    color: #298102!important;
}

.bg-blue{
    background-color: #211c6a;
}
.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}

.text-right{
    text-align: right;
}
.fs-18{
    font-size: 18px;
}

/* ----------------------
        search
------------------------*/
.img-custom{
    max-width: 80%;
    height: auto;
}
.select-custom{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    padding-right: 0px;
}
.input::placeholder{
    color: #555555;
}
.input::-moz-placeholder {
    color: #555555;
}
.input:focus {
    color: #939393 ;
    border: unset;
    outline: 0;
}
.input:focus::placeholder {
    color: #939393 ;
}
.input-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
/* ----------------------
        boxes section
------------------------*/

.bg-ef{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23DEDCEBFF' stroke-width='6' stroke-dasharray='8%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    background-color: #edebf5;
}
.companies-box{
    border-radius: 50px 50px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, -8px -8px 0px -3px rgba(33,28,106,1);
    background-color: #f6f6f6;
}

.img-wh{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-width-h{
    width: 95px;
    height: 95px;
    min-width: 95px;
    min-height: 95px;
}
.job-counts{
    box-shadow: 0px 5px 0px -3px rgba(33,28,106,1);
    border-radius: 10px;
    width: 100%;
}
/* .move-up{
    margin-top: -2.3rem;
    background-color: #fff;
} */
/* .company-h{
    height: 130px;
} */

.heigh-c-fixed{
    min-height: 320px;
}

/* ----------------------
        pagination
------------------------*/

/* .pagination-custom{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
.page-item{
    padding: 13px 13px;
    cursor: pointer;
}
.page-item-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.page-arrow{
    width: 20px;
    height: auto;
}
.page-num{
    padding: 4px 17px;
    cursor: pointer;
}
.page-num.active{
    background-color:#efff00;
} */
/* .page-link{
    font-size: 18px;
    font-weight: 500;
} */
.box-hover:hover{
    transform: scale(1.04);
    transition: all .15s;
    cursor: pointer;
}

/* ----------------------
        responsive
------------------------*/
@media (max-width: 1199.98px) {
    .heigh-c-fixed{
        min-height: 340px;
    }
}
@media (max-width: 575.98px) {
    .heigh-c-fixed{
        min-height: 320px;
    }

}