body {
    font-family: Vazirmatn, sans-serif;
    text-align: right;
}
a{
    text-decoration: none!important;
}
.shadow-map{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.green{
    color: #298102!important;
}
.bg-green{
    background-color: #298102;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}
.text-justify{
    text-align: justify;
}

/* ----------------------
        form section
------------------------*/
.image{
    width: 55%;
}
.context{
    max-width: 400px;
}
.form-input {
    display: block;
    width: 70%;
    padding:0.5rem 0 0.5rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: unset;
    border-bottom: solid rgb(255, 255, 255) 2px;
}
.form-input::placeholder {
    color: white;
    opacity: 1;
}
.form-input:focus {
    color: rgba(255, 255, 255, 0.5) ;
    border: unset;
    outline: 0;
    border-bottom: solid rgb(255, 255, 255) 2px;
}
.form-input:focus::placeholder {
    color: rgba(255, 255, 255, 0.5) ;
}
.width-section{
    padding-inline: 100px;
}
.form-icon{
    width: 23.4px;
    height: 27px;
    margin-right: -30px;
}
.border-form{
    border-right: solid 2px #44427d;
}
.height-btn{
    height: 90px;
}
.btn:hover{
    background-color: #3DBE03;
    color: #fff;
}
.border-box{
    border-bottom: solid 1px #b6b6b6;
}
.border-box:last-child{
    border-bottom: none;
}
/* ----------------------
        footer
------------------------*/
footer{
    position: relative;
    z-index: 0;
}
.footer{
    margin-top: 7.5rem;
}
.shape-fill{
    position: relative;
    top: 0;
    z-index: 1;
    fill: #fff;
}
ul li a{
    color: #b6b6b6;
}
.footer-text{
    max-width: 200px;
}
.footer-logo{
    width: 38px;
    height: auto;
}
.up-icon{
    position: relative;
    top: 30px;
    z-index: 2;
}
.svg-footer{
    margin-right: 50px;
    position: relative;
    top: 0;
}
.svg{
    z-index: 1;
    position: relative;
    top: 0;
}
/* ----------------------
        responsive
------------------------*/
@media (max-width: 1199.98px) {
    .width-section{
        padding-inline: 80px;
    }
    /* .margin-menu{
        margin-right: 10%;
        margin-left: 5%;
    } */
    .svg-footer{
        margin-right: 40px;
    }
    .up-icon{
        position: relative;
        top: 15px;
    }
}

@media (max-width: 991.98px) {
    .width-section{
        padding-inline: 20px;
    }
    /* .margin-menu{
        margin-right: 5%;
    } */
    .margin-left-login{
        margin-left: 4%;
    }
    .svg-footer{
        margin-right: 30px;
    }
}
@media (max-width: 870px) {
    /* .margin-menu{
        margin-right: 1%;
        margin-left: 3%;
    } */
    .margin-left-login{
        margin-left: 2%;
    }
}
@media (max-width: 767.98px) {
    .up-icon{
        width: 20px;
        height: auto;
    }
    .svg-footer{
        margin-right: 25px;
    }
    .context{
        max-width: 100%;
    }
    .border-form{
        border-right: unset;
        border-top: solid 2px #44427d;
    }
    .width-section{
        padding-inline: 10px;
    }
}
@media (max-width: 575.98px) {
    .svg-footer{
        margin-right: 20px;   
    }
    .up-icon{
        display: none;
    }
    .title::before{
        width: 180px;
    }
    .height-start{
        height: 510px;
    }
    .move-down{
        margin-top: -510px;
    }
    .footer-text{
        margin-inline: auto;
    }
    .width-section{
        padding-inline: 35px;
    }
    .form-input {
        font-size: 0.8rem;
    }
}