
.blue{
    color: #211c6a;
}

.bg-circle{
    position: relative;
}
.bg-circle::before{
    position: absolute;
    content: '';
    background-image: url('../img/errors/Group\ 2288.png');
    background-size: 650px 650px;
    background-repeat: no-repeat;
    width: 650px;
    height: 650px;
    top: -200px;
    right: -130px;
    background-position: top;
    z-index: -1;
}
.fs-large{
    font-size: 60px;
}
.fs-medium{
    font-size: 50px;
}

.text-shadow-yellow{
        text-shadow: -4px -2px 0px rgba(239, 255, 0, 1);
}
.erorr-btn{
        color: #211c6a;
        background-color: #efff00;
        border: unset;
        border-radius: 1.3rem;
        padding: .9rem 2.5rem .9rem 2.5rem;
        box-shadow: -5px -5px 0px 1px rgba(33,28,106,1),
        rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}
.erorr-btn img{
        width: 18px;
        height: 18px;
}



@media (max-width: 1199.98px) {
    .bg-circle::before{
        background-size: 500px 500px;
        width: 500px;
        height: 500px;
        top: -100px;
        right:-100px;
    }
}

@media (max-width: 991.98px) {
    .bg-circle::before{
        background-size: 400px 400px;
        width: 400px;
        height: 400px;
        top: -50px;
        right:-100px;
    }
}
@media (max-width: 767.98px) {
    .bg-circle::before{
        display: none;
    }
}
