.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}

.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}

/* ----------------------
        accordion
------------------------*/
.header-acc{
    padding-inline: 10px;
}
.heading{
    padding-inline: 3rem;
}
.image{
    width: 15%;
    height: auto;
}
.accordion-custom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #211c6a;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
}

.panel{
    padding: 0 20px;
    margin-inline: 10px;
    background-color: #E9E9E9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.plus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 1px #211c6a;
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}
.plus{
    font-size: 1.7rem;
    color: #211c6a;
}
.accordion-custom::after{
    content: '';
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    border-left: 10px solid #211c6a;
    border-radius: 15px;
}


/* ----------------------
        footer
------------------------*/
/* footer{
    position: relative;
    z-index: 0;
}
.footer{
    margin-top: 7.5rem;
}
.shape-fill{
    position: relative;
    top: 0;
    z-index: 1;
    fill: #fff;
}
ul li a{
    color: #b6b6b6;
}
.text-justify{
    text-align: justify;
}
.footer-text{
    max-width: 200px;
}
.footer-logo{
    width: 38px;
    height: auto;
}
.up-icon{
    position: relative;
    top: 30px;
    z-index: 2;
}
.svg-footer{
    margin-right: 50px;
    position: relative;
    top: 0;
}
.svg{
    z-index: 1;
    position: relative;
    top: 0;
} */
/* ----------------------
        responsive
------------------------*/
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}
@media (max-width: 870px) {

}
@media (max-width: 767.98px) {

}
@media (max-width: 575.98px) {

    .header-acc{
        font-size: 18px!important;
    }
    .plus-icon {
        width: 27px;
        height: 27px;
        min-width: 27px;
        margin-left: 0;
    }
    .plus{
        font-size: 1rem;
    }
    .acc-text{
        font-size: 16px!important;
    }
}