
@font-face {
    font-family: 'IRANYekanWeb(FaNum)';
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum.eot");
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum.eot?#iefix") format('embedded-opentype'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum.woff2") format('woff2'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum.woff") format('woff'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum.ttf") format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'IRANYekanWeb(FaNum)';
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum_1.eot");
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum_1.eot?#iefix") format('embedded-opentype'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_1.woff2") format('woff2'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_1.woff") format('woff'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_1.ttf") format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'IRANYekanWeb(FaNum)';
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum_2.eot");
    src        : url("../fonts/IranYekanWeb/IRANYekanWebFaNum_2.eot?#iefix") format('embedded-opentype'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_2.woff2") format('woff2'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_2.woff") format('woff'),
      url("../fonts/IranYekanWeb/IRANYekanWebFaNum_2.ttf") format('truetype');
    font-weight : normal;
    font-style  : normal;
    font-display: swap;
  }
  
