@font-face {
	font-family: IRANYekan;
	src: url("../fonts/iranyekan/5bea6c32.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/1fdcadec.woff2") format("woff2"), url("../fonts/iranyekan/56a1baa4.woff") format("woff"), url("../fonts/iranyekan/79533773.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: IRANYekan;
	src: url("../fonts/iranyekan/699085bd.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/a80f71ff.woff2") format("woff2"), url("../fonts/iranyekan/088dfe8a.woff") format("woff"), url("../fonts/iranyekan/2c83275a.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: IRANYekan;
	src: url("../fonts/iranyekan/7c912e00.eot?#iefix") format("embedded-opentype"), url("../fonts/iranyekan/fe12f13a.woff2") format("woff2"), url("../fonts/iranyekan/2d7cc7cd.woff") format("woff"), url("../fonts/iranyekan/a7d41f91.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}