
.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}

.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-17{
    font-size: 17px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.blue2{
    color: #4d46b5;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-pattern{
    background-color: #211c6a;
    padding-inline: 12px;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.grey{
    color: #555555;
}

.border-blue{
    border:solid 1px #211c6a;
    border-radius: 3px;
}
.active-box{
    border:solid 3px #211c6a;
}

/* ----------------------
        job
------------------------*/
.badge-custom{
    white-space: collapse!important;
}
.text{
    color: #353535;
    font-weight: 500;
    word-break: break-word;
}
.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fs-18{
    font-size: 18px;
}
.text-justify{
    text-align: justify;
}
.mt-10{
    margin-top: 7rem;
}
.bg-darkgrey{
    background-color: #F5F2FE;
}
.border-dash-blue{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%239793DDFF' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    width: fit-content;
}
.purple-light{
    color: #9793dd;
}
.share-btn{
    background-color: #7d77df;
}
.share-btn:hover{
    background-color: #7d77df;
}
.send-cv-btn{
    background-color: #298102;
}
.send-cv-btn:hover{
    background-color: #298102;
}
.bg-image-top{
    background-image: url('../img/job-single/vecteezy_web-design-vector-icon_19503577.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px auto;
    background-color: white;
}
.Rectangl-1{
    z-index: 10;
}
.Rectangl-1::before{
    position: absolute;
    z-index: -2;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 580.svg);
    background-size: 267px 269px;
    top: -26px;
    right: -35px;
    width: 267px;
    height: 269px;
    overflow: hidden;
}
.Rectangl-1::after{
    position: absolute;
    z-index: -4;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 581.svg);
    background-size: 267px 269px;
    top: 13px;
    right: -58px;
    width: 267px;
    height: 269px;
    overflow: hidden;
}



.Rectangl-2::before{
    position: absolute;
    z-index: -6;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 578.svg);
    background-size: 461px 302px;
    top: -26px;
    left: -62px;
    width: 461px;
    height: 302px;
    overflow: hidden;
}
.Rectangl-2::after{
    position: absolute;
    z-index: -4;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 579.svg);
    background-size: 390px 303px;
    top: 13px;
    left: -58px;
    width: 390px;
    height: 303px;
    overflow: hidden;
}



/* شرح شغل و وظیفه */


.border-dash-purple{
    /* border: dashed #7571a3 3px; */
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%237571A3FF' stroke-width='5' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 26px;
}
.title-job{
    margin: -45px 0 0 0px;
    background: #faf9fe;
    color: #211c6a;
    padding-inline: 15px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
.title-job::before{
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    background-color: #efff00;
    width: 65%;
    height: 18px;
    z-index: -1;
}

.Rectangl-3::after{
    position: absolute;
    z-index: -2;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 549.svg);
    background-size: 951px 159px;
    bottom: 0px;
    right: -36px;
    width: 951px;
    height: 159px;
    overflow: hidden;
}
.Rectangl-3::before{
    position: absolute;
    z-index: -4;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 551.svg);
    background-size: 486px 159px;
    top: 7px;
    left: -21px;
    width: 486px;
    height: 159px;
    overflow: hidden;

}




/* tab  */

.tab-style{
    width: 24px;
    height: 24px;
}
.tab-style::before{
    content: '';
    background-image: url('../img/company/triangle.png');
    background-size: 24px 24px;
    display: block;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}
.bg-grey{
    background-color: #f7f7f7;
}
.nav-btn{
    font-weight: 500;
}
.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    font-weight: 500;
    color: #efff00!important;
    border-bottom:solid 4px #efff00;

}
.nav-underline .nav-link:hover, .nav-underline .nav-link:focus {
    border-bottom:solid 4px #efff00;
}
.nav-underline {
    --bs-nav-underline-gap: 3rem;
    --bs-nav-underline-border-width: 4px;
    --bs-nav-underline-link-active-color: #efff00;
}
.custom-rounded{
    border-top-left-radius: 150px;
    border-top-right-radius: 30px;
    background-color: #9793dd;
}

.m-top{
    margin-top: -23px;
}
/* table  */

table tr th{
    width: 20%;
}
.job-table{
    border-collapse:separate;
    border-spacing:1.5em 1.5em;
}
td {
    background-color:#ececec!important;    
    color:#585859!important;
    font-size: 22px;
    border-radius: 15px;
    padding: .5rem 1.5rem!important;
}
th {
    background-color:#ececec!important;
    color: #211c6a!important;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
    font-size: 22px;
    word-wrap: break-word;
}



.title-job2{
    background: #faf9fe;
    color: #211c6a;
    font-weight: bold;
}
.title-box2{
    margin: -33px 0 0 0px;
    background: #faf9fe;
    padding-inline: 15px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.w-small-j{
    width: 26px;
    height: 26px;
}

.Rectangl-4::after{
    position: absolute;
    z-index: -2;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 583.svg);
    background-size: 85px 170px;
    top: 10px;
    left: -50px;
    width: 85px;
    height: 170px;
    overflow: hidden;
}
.Rectangl-4::before{
    position: absolute;
    z-index: -4;
    content:'';
    background-image:  url(../img/job-single/Rectangle\ 582.svg);
    background-size: 151px 140px;
    top: -27px;
    left: -21px;
    width: 151px;
    height: 140px;
    overflow: hidden;

}
.border-dash-purple2{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%23D5D2F5FF' stroke-width='5' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 26px;
}

.excellent-tag{
    background-color: #298102;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.good-tag{
    background-color: #0a53ff;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.fair-tag{
    background-color: #ffdc2e;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.poor-tag{
    background-color: #ff0000;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.excellent-box-border{
    border: 3px solid #298102;
    border-radius: 8px;
}
.good-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%230A53FFFF' stroke-width='4' stroke-dasharray='350%2c 180' stroke-dashoffset='98' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}
.fair-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}
.poor-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 350' stroke-dashoffset='68' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}


.logo-company-wrapper{
    width: 85px;
    height: 85px;
    min-width: 85px;
    min-height: 85px;
    border: #211c6a 1px solid;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.logo-company-img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* ----------------------
        responsive
------------------------*/
@media (max-width: 1199.98px) {
    .Rectangl-3::after{
        background-size: 600px 159px;
        bottom: -20px;
        right: 7px;
        width: 600px;
        height: 159px;
    }

    .Rectangl-2::before{
        background-size: 361px 241px;
        top: -26px;
        left: -35px;
        width: 361px;
        height: 241px;
    }
    .Rectangl-2::after{
        background-size: 312px 242px;
        top: 50px;
        left: -30px;
        width: 312px;
        height: 242px;
    }
}


@media (max-width: 991.98px) {
    .fair-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
    .poor-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 500' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
}
@media (max-width: 767.98px) {
    .Rectangl-3::after{
        background-size: 400px 159px;
        bottom: -35px;
        right: 7px;
        width: 400px;
        height: 159px;
    }

    .Rectangl-2::before{
        background-size: 361px 241px;
        top: -26px;
        left: -30px;
        width: 361px;
        height: 241px;
    }
    .Rectangl-2::after{
        background-size: 270px 242px;
        top: 50px;
        left: -20px;
        width: 270px;
        height: 242px;
    }
    table tr th{
        width: 30%;
    }
    .job-table{
        border-collapse:separate;
        border-spacing:1em 1em;
    }
}
@media (max-width: 575.98px) {

    .fix-width-skill{
        width: 200px;
        height: 100px;
    }
    .fix-width-wrraper{
        justify-content: center;
    }
    .fair-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
    .poor-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 350' stroke-dashoffset='68' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }

    
    .Rectangl-3::after{
        background-size: 200px 33.8px;
        bottom: 9px;
        right: 25px;
        width: 200px;
        height: 33.8px;
    }

    .Rectangl-2::before{
        background-size: 180px 120px;
        top: 239px;
        left: -11px;
        width: 180px;
        height: 120px;
    }
    .Rectangl-2::after{
        display: none;
    }

    .Rectangl-4::after{
        background-size: 70px 160px;
        top: 10px;
        left: -15px;
        width: 70px;
        height: 160px;
    }

    .Rectangl-4::before{
        background-size: 151px 140px;
        top: -27px;
        left: -11px;
        width: 151px;
        height: 140px;
    }

    .Rectangl-3::before{
        background-size: 243px 79px;
        top: 13px;
        left: 0px;
        width: 243px;
        height: 79px;
        overflow: hidden;
    
    }
    .fs-5{
        font-size: 1rem!important;
    }

    td {
        font-size: 18px;
        border-radius: 15px;
        padding: .5rem 1rem!important;
    }
    th {
        border-radius: 15px;
        text-align: center;
        font-size: 18px;
    }
}
@media (max-width: 400px) {

    td {
        font-size: 15px;
        border-radius: 10px;
        padding: .5rem 1rem!important;
    }
    th {
        border-radius: 10px;
        font-size: 15px;
    }
}
