.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}
.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.fs-18{
    font-size: 18px;
}
.fs-17{
    font-size: 17px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}

.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}
.greys{
    color: #545454;
}

.border-blue{
    border:solid 1px #211c6a;
    border-radius: 3px;
}
.active-box{
    border:solid 3px #211c6a;
}

/* ----------------------
        search
------------------------*/
.dot-bg{
    --dot-bg: rgb(255, 255, 255);
    --dot-color: #e3e1ee;
    --dot-size: 3px;
    --dot-space: 10px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}

.border-dash-s{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='32' ry='32' stroke='%237571A3FF' stroke-width='6' stroke-dasharray='8%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 32px;
    margin-top: -25px;
}
/* ----------------------
        inputs
------------------------*/
.w-90{
    width: 90%;
}
.input-g{
    display: flex;
    padding: 4px 15px;
    align-items: center;
}
.select-custom{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding-right: 10px;
}
.select-icon{
    width: 100%;
}
select{
    cursor: pointer;
}
.form-select:focus {
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}
.select-icon::before{
    position: absolute;
    content: url("../img/search-jobs/icons8-arrow-15.png");
    left: 5px;
    top: 15px;
    pointer-events: none;
}
.select-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12), 0 16px 16px rgba(0,0,0,0.12);
}
.input::placeholder{
    color: #545454;
}
.input::-moz-placeholder {
    color: #545454;
}
.input:focus {
    color: #3c3c3c ;
    border: unset;
    outline: 0;
}
.input:focus::placeholder {
    color: #9d9d9d ;
}
.form-select {
    --bs-form-select-bg-img: unset;
}
select > option{
    border-color: #b6b6b6;
    padding-inline: 10px;
}
.select-custom *{
    border-color: #b6b6b6;
    padding-inline: 10px;
}
.search-btn{
    background-color: #efff00;
    color: #211c6a;
    padding: 11px 30px;
    border: unset;
    font-size: 20px;
    font-weight: 700;
}
.search-btn:hover{
    background-color: #efff00;
    color: #211c6a;
}


/* jobs  */

.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box-hover:hover{
    transform: scale(1.04);
    transition: all ease .2s;
}




.border-dash2{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23DEDCEBFF' stroke-width='6' stroke-dasharray='8%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
    background-color: #edebf5;
}
.text-grey-s{
   color: #707070; 
}

/* switch btn  */

.switch {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 31px;
  }
  
.switch input {
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
border: 2px solid #707070;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 24px;
width: 31px;
left: 3px;
bottom: 2px;
background-color: #707070 ;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider:before {
background-color: #211c6a;
}

input:focus + .slider:before {
box-shadow: 0 0 1px #211c6a;
}
input:checked + .slider {
    border: 2px solid #211c6a;
}

input:focus + .slider {
    box-shadow: 0 0 1px #211c6a;
}

input:checked + .slider:before {
-webkit-transform: translateX(18px);
-ms-transform: translateX(18px);
transform: translateX(18px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 34px;
}

/* side menu  */

.text-grey-s2{
    color: #535353;
}
.w-logo-menu{
    width: 19px;
    height: auto;
}
.item-border{
    border-bottom:solid 1px #b6b6b6;
}
.toggle-btn::after{
    content: url('../img/search-jobs/angle-left-solid.svg');
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    position: absolute;
    left: 0;
}
.toggle-btn[aria-expanded="true"]::after {
    transform: rotate(180deg);
}
.toggle-btn{
    cursor: pointer;
}

.sort-btn{
    padding-block: 8px;
    padding-inline-end: 30px;
    padding-inline-start: 10px;
    border: unset;
    font-size: 16px;
    font-weight: 500;
}

.sort-btn::after{
    content: url('../img/search-jobs/circle-chevron-left-solid.svg');
    position: absolute;
    top: 11px;
    left: 7px;
    width: 18px;
}
.filter-btn{
    background-color: #f4ff54;
    color: #211c6a;
    position: relative;
    border: unset;
    padding-block: 6px;
    padding-inline-start: 30px;
    padding-inline-end: 12px;
    font-size: 18px;
    font-weight: 500;
}
.filter-btn::before{
    content: url('../img/search-jobs/plus-solid.svg');
    position: absolute;
    top: 8px;
    right: 6px;
}

.remove-filter-btn{
    position: relative;
    border: unset;
    background-color: #ffcfcf;
    color: #ff0000;
    padding-block: 4px;
    padding-inline-end: 30px;
    padding-inline-start: 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
}
.remove-filter-btn::after{
    content: url('../img/search-jobs/delete-left-solid.svg');
    position: absolute;
    top: 7px;
    left: 7px;
}


/* job boxes */
.bg-halfc{
    background-image:url('../img/company/Subtraction\ 3\ \(2\).png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px auto;
}
.bg-halfc-2{
    background-image:url('../img/company/Subtraction\ 3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 90px auto;
}
.cv-btn{
    background-color: #b7b6cf;
    font-weight: 600;
}
.cv-btn-2{
    background-color: #c9dcc0;
    font-weight: 600;
}
.cv-btn-2:hover{
    background-color: #a3c097;
}
.cv-btn:hover{
    background-color: #9d9abe;
}
.border-dash-blue-job{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23211C6AFF' stroke-width='6' stroke-dasharray='270%2c 150' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 14px;
}
.border-dash-green-job{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23298102FF' stroke-width='6' stroke-dasharray='270%2c 150' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 14px;
}
.w-small{
    width: 18px!important;
    height:auto!important;
}
.text-grey{
    color: #626262;
}
.bg-gr{
    background-color: #b7b6cf; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bg-gr-2{
    background-color: #c9dcc0; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.job-img{
    max-width: 60px;
    max-height: 60px;
}
.icon-bg{
    background-color: #b7b6cf;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 6px;
}
.icon-bg-2{
    background-color: #c9dcc0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-left: 6px;
}
.green-job{
    color: #298102;
}


/* mobile  */

.sort-btn-mobile{
    padding-block: 8px;
    padding-inline-end: 40px;
    padding-inline-start: 20px;
    border: unset;
    font-size: 16px;
    font-weight: 500;
}
.sort-btn-mobile::after{
    content:'';
    background-image: url('../img/search-jobs/circle-chevron-left-solid.svg');
    background-size: 15px 15px;
    position: absolute;
    top: 13px;
    left: 18px;
    width: 15px;
    height: 15px;
}
.filter-btn-mobile{
    padding-block: 8px;
    padding-inline-end: 40px;
    padding-inline-start: 20px;
    border: unset;
    font-size: 16px;
    font-weight: 500;
}
.filter-btn-mobile::after{
    content:'';
    background-image: url('../img/search-jobs/burger-menu-svgrepo-com.svg');
    background-size: 22px 22px;
    position: absolute;
    top: 9px;
    left: 16px;
    width: 22px;
    height: 22px;
}

.checkbox-mobile[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 18px;
    height: 18px;
    transform: translateY(-0.075em);
  }
  
.checkbox-mobile[type="checkbox"] {
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 2px solid #707070;
    color: #707070;
}
  
.checkbox-mobile[type="checkbox"]::before {
    content: "";
    width:12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #211c6a;
}

.checkbox-mobile[type="checkbox"]:checked{
    border: 2px solid #211c6a;
    color: #211c6a;
}
.checkbox-mobile[type="checkbox"]:checked::before {
    transform: scale(1);
}


/* ----------------------
        responsive
------------------------*/


@media (max-width: 1199.98px) {
    input:checked + .slider:before {
        -webkit-transform: translateX(13px);
        -ms-transform: translateX(13px);
        transform: translateX(13px);
        }
}
@media (max-width: 991.98px) {
    .fs-md-18{
        font-size: 18px!important;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
        }
}
@media (max-width: 767.98px) {

    .search-btn{
        width: 100%;
    }
    .search-btn-wrapper{
        padding-inline: 0px;
    }
}
@media (max-width: 575.98px) {
    .fs-sm-18{
        font-size: 18px!important;
    }
    .fs-sm-16{
        font-size: 16px!important;
    }
    .fs-sm-14{
        font-size: 14px!important;
    }
    .w-small{
        width: 15px!important;
        height:auto!important;
    }
    .border-dash2{
        background-image: unset;
        border-radius: unset;
        background-color: #edebf5;
    }
}


@media (max-width: 372px){

}