.bg-jobs {
    background: linear-gradient(rgba(252, 252, 7, 0.476), rgba(192, 188, 255, 0.601)), 
                url("../img/jobs/jobs.svg") no-repeat center / cover;
    height: 60vh;
}

.shadow-f{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.lh-p{
    line-height: 1.8;
}
.border-dash-purple2 {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%237571A3FF' stroke-width='5' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 26px;
}
.cat-img{
    width: 85px;
    height: 85px;
    overflow: hidden;
}
.job-btn{
    bottom: 0px;
    left: 0px;
    width: 80px;
    height: 30px;
    border-top-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    /* border-bottom-left-radius: 1rem!important; */
    border-top-right-radius: 50px!important;
}

.blue3{
    color: #2c2865;
    background-color: #d9d7ff;
    border-radius: 20px;
    width: fit-content;
    text-align: center;
    margin-inline: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.description-box{
    min-height: 250px;
}

@media (max-width: 575.98px) {
    .cat-img{
        width: 50px;
        height: 50px;
        overflow: hidden;
    }
    .Rectangl-2::before {
        display: none;
      }
}