.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}

.light-grey{
    color: #b6b6b6;
}
.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-yellow{
    background-color: #efff00;
}

.bg-white{
    background-color: #fff;
}
.grey{
    color: #555555;
}

/* ----------------------
        resume
------------------------*/
.text{
    color: #353535;
    font-weight: 500;
    word-break: break-word;
}
.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fs-18{
    font-size: 18px;
}
/* .img-student{
    width: 180px;
    height: 180px;
} */
.text-justify{
    text-align: justify;
}
.bg-darkgrey{
    background-color: #F5F2FE;
}
.bottom-n{
    margin-bottom: -200px;
}
.dot-lightgreen{
    background-color: #4eff00;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.text-grey{
    color: #7b7b7b;
}
.bg-light-blue{
   background-color: #d1d1d1;
}
.student-pic{
    max-width: 100%;
}
.social-icon{
    width: 23px;
    height: 23px;
}
.circle-icon{
    width: 40px;
    height: 40px;
    min-width: 40px;
}
button.text-white.bg-blue:hover{
    background-color: #211c6a;
    color: white;
    transform: scale(1.04);
    transition: all .15s;
}
.title-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px 10px 0 10px;
}
.rounded-top-only{
    border-radius: 10px 20px 0 0;
}
.title-img{
    width: 25px;
    height: 25px;
}
.move-right{
    z-index: 1;
    margin-right: -55px;
    width: fit-content;
    height: 50px;
}
.move-right::before{
    position: absolute;
    content:'';
    background-image: url('../img/candidate/triangle.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    top: 100%;
    right: 0px;
    width: 30px;
    height: 30px;
}
.fs-14{
    font-size: 14px;
}
.border-dash-blue{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23211C6AFF' stroke-width='3' stroke-dasharray='50%2c 10' stroke-dashoffset='31' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;
}
/* 
.fix-width-skill{
    width: 200px;
    height: 100px;
} */
.excellent-tag{
    background-color: #298102;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.good-tag{
    background-color: #0a53ff;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.fair-tag{
    background-color: #ffdc2e;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.poor-tag{
    background-color: #ff0000;
    width: 50px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.excellent-box-border{
    border: 3px solid #298102;
    border-radius: 8px;
}
.good-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%230A53FFFF' stroke-width='4' stroke-dasharray='350%2c 180' stroke-dashoffset='98' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}
.fair-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}
.poor-box-border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 350' stroke-dashoffset='68' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 8px;
}

.dot-excellent{
    background-color: #298102;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot-good{
    background-color: #0a53ff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot-fair{
    background-color: #ffdc2e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.dot-poor{
    background-color: #ff0000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.excellent{
    color: #298102;
}
.good{
    color: #0a53ff;
}
.fair{
    color: #ffdc2e;
}
.poor{
    color: #ff0000;
}
.bg-excellent{
    background-color: #298102;
}
.bg-good{
    background-color: #0a53ff;
}
.bg-fair{
    background-color: #ffdc2e;
}
.bg-poor{
    background-color: #ff0000;
}

.progress{
    border-radius: 8px 0 0 8px!important;
    background-color: #F5F2FE!important;
    height: 20px;
    width: 100%;
}
.progress-bar{
    border-radius: 8px 0 0 8px!important;
    height: 20px;
}
.progress-title{
    min-width: 20%;
}
.student-pic-wrraper{
    width: 100%;
}

.br-blue{
    border-right: #211c6a 2px solid;
    position: relative;
}
.academic-info::before{
    position: absolute;
    content:'';
    background-color: #efff00;
    top: 8px;
    right: 12px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    z-index: 1;
}
.academic-info::after{
    position: absolute;
    content:'';
    background-color: #efff00;
    bottom: 8px;
    right: 12px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    z-index: 1;
}


/* ----------------------
        responsive
------------------------*/


@media (max-width: 991.98px) {
    .student-pic-wrraper{
        width: 25%;
    }
    .fair-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
    .poor-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 500' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
}

@media (max-width: 575.98px) {
    .excellent, .good, .fair, .poor{
        font-size: 16px!important;
    }
    .student-pic-wrraper{
        width: 100%;
    }
    .fix-width-skill{
        width: 200px;
        height: 100px;
    }
    .fix-width-wrraper{
        justify-content: center;
    }
    .fair-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23FFDC2EFF' stroke-width='4' stroke-dasharray='270%2c 260' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
    .poor-box-border{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='red' stroke-width='4' stroke-dasharray='150%2c 350' stroke-dashoffset='68' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 8px;
    }
}
@media (max-width: 400px) {
.excellent, .good, .fair, .poor{
    font-size: 14px!important;
}
}