body {
    font-family: Vazirmatn, sans-serif;
    text-align: right;
}
.fa {
    font-weight: 900;
}
.fa {
    font-family: "Font Awesome 5 Free";
}
p{
    word-wrap: break-word!important;
}
a{
    text-decoration: none!important;
}
.box-shadow{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    border: solid 1px #b6b6b6;
}
.logo-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border: solid 1px #b6b6b6
}
.bg-blue-pt{
    background-color: #211c6a;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.light-grey{
    color: #b6b6b6;
}
.light-grey2{
    color: #6e6e6e;
}
.grey-icon{
 color: #9f9faa;
}

.bg-full{
    background-color: #faf9fe;
}
.fs-7{
    font-size: 14px;
}
.pointer{
    cursor: pointer;
}
/* ----------------------
        header
------------------------*/
.active-link {
    color: #efff00 !important;
}
.dropdown-item.header-item:hover{
    background-color: #f5ff6b;
}
.dropdown-toggle::after {
    margin-left: 0em;
    margin-right: 0.3em;
    vertical-align: 0em;
}
.dropdown-menu[data-bs-popper] {
    left: unset;
    right: 0;
}
.dropdown-menu.header-dm{
    box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    --bs-dropdown-link-active-bg: #2c2865;
}
.top-header {
    position: relative;
    background-color: #f3ff47;
}

.first_button {
    animation: floatLeftRight 0.5s infinite cubic-bezier(.36, .07, .19, .97) both;

}

@keyframes floatLeftRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-8px); 
    }
    100% {
        transform: translateX(0);
    }
}
.second_button {
    animation: floatLeftLeft 0.5s infinite cubic-bezier(.36, .07, .19, .97) both;
  }

  @keyframes floatLeftLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(8px); 
    }
    100% {
        transform: translateX(0);
    }
}

.top-header::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 52%; 
    z-index: 1;
}

.top-header::before {
    right: 0;
    background-color: #2c2865;
    clip-path: polygon(4% 0%, 100% 0, 100% 100%, 0% 100%);
}

.header{
    background-color: #585859;
}
.profile{
    background-color: #2c2865;
}
.nav-link{
    color: #f5f5f5;
}
.nav-link:hover{
    color: #efff00;
}
.padding{
    padding: .5rem 1rem .5rem 1rem;
}
.margin-menu{
    margin-right: 5%;
    margin-left: 5%;
}
.profile:hover{
    transform: scale(1.05);
}
.logo-main{
    width: 150px;
}
.border-unset{
    border: unset;
}
.user-name{
    word-break:break-word;
    max-width: 150px;
}
/* ----------------------
        top section
------------------------*/
.top-section{
    background-color: #f6f6f6;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.green{
    color: #298102!important;
}
.blue{
    color: #211c6a;
}
.bg-blue{
    background-color: #211c6a;
}
.bg-green{
    background-color: #298102;
}
.button:hover{
    transform: scale(1.09);
    color: white;
    background-color: #16115f;
    border-color: #211c6a;
    cursor: pointer;
    transition: all .15s;
}
.button2:hover{
    transform: scale(1.09);
    color: #16115f;
    background-color: #efff00;
    border-color: #efff00;
    cursor: pointer;
    transition: all .15s;
}
.button3:hover{
    transform: scale(1.09);
    color: #fff;
    background-color: #298102;
    border-color: #298102;
    cursor: pointer;
    transition: all .15s;
}
.btn-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.form-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
}
.border-input{
    border: solid 2px #211c6a;
}
.border-brand{
    border:dashed 2px #909090;
}
.section-1{
    margin-block: 1rem;
}
/* .main-img{
    padding-right: 3.5rem;
} */
.logo-width{
    max-width: 82px;
    max-height: 82px;
}

/* -----------------------
        counter
------------------------ */
span.text-c{
    color: #b6b6b6;
    font-size: 1.2rem;
    text-align: center;
}
span.num{
    font-family: iransanse, sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
}
.bg-pattern{
    background-color: #211c6a;
    padding-block: 1.7rem;
    padding-inline: 3rem;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.bg-pattern2{
    background-color: #d8d5ff;
    padding-bottom: 4rem;
    padding-top: 2rem;
    padding-inline: 2rem;
    background-image: url("../img/home/sale-Overlay-min2.webp");
}
.counter{
    display: flex;
    flex-direction: column;
}
.devider{
    border-left: solid 2px #707070;
}
/* ----------------------
    last job suggestion
------------------------*/
.title{
    color: #211c6a;
    position: relative;
    width: fit-content;
}
.title::before{
    content: "";
    position: absolute;
    right: -5px;
    top: 18px;
    background-color: #efff00;
    width: 90%;
    height: 15px;
    z-index: -1;
}
.main-title::before{
    content: "";
    position: absolute;
    right: -12px;
    top: 22px;
    background-color: #efff00;
    width: 112%;
    height: 19px;
    z-index: -1;
}
.main-title{
    color: #211c6a;
    position: relative;
    z-index: 2;
    width: fit-content;
}
.term{
    color: #555555;
    font-size: 20px;
}
.job-img{
    max-width: 57px;
    max-height: 57px;
}
.grey{
    color: #555555;
}
.separate{
    border-left: solid 1px #8f8f8f;
}
.cv-btn{
    background-color: #298102;
    color: #fff;
}
.cv-btn:hover{
    background-color: #3DBE03;
    color: #fff;
}

.card-text{
    font-size: 18px;
}
.box-hover:hover{
    transform: scale(1.04);
    transition: all .15s;
    /* cursor: pointer; */
}


/* ----------------------
    new last job position
------------------------*/
.box-shadow-c{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.bg-gr{
    background-color: #b7b6cf; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.bg-gr-2{
    background-color: #c9dcc0; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.job-img{
    max-width: 60px;
    max-height: 60px;
}
.cv-btn{
    background-color: #b7b6cf;
    min-width: 130px;
}
.cv-btn-2{
    background-color: #c9dcc0;
    min-width: 130px;
}
.cv-btn-2:hover{
    background-color: #a3c097;
}
.cv-btn:hover{
    background-color: #9d9abe;
}
.w-small{
    width: 18px!important;
    height:auto!important;
}
.border-piece{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23211C6AFF' stroke-width='6' stroke-dasharray='300%2c 200' stroke-dashoffset='75' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 22px;
}
.border-piece-2{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='22' ry='22' stroke='%23298102FF' stroke-width='6' stroke-dasharray='300%2c 200' stroke-dashoffset='75' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 22px;
}
.txt-green{
    color: #353535;
}
.bg-halfc{
    background-image:url('../img/company/Subtraction\ 3\ \(2\).png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px auto;
}
.bg-halfc-2{
    background-image:url('../img/company/Subtraction\ 3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 110px auto;
}
.green-job{
    color: #298102;
}
/* ----------------------
        where to start
------------------------*/
/* .height-start{
    height: 280px;
} */
 .mb-6{
    margin-bottom: 11rem;
 }
.bg-white{
    background-color: #fff;
}
.card-img{
    width: 60%;
    height: auto;
}
.bg-white h5 a{
    color: #298102;
    font-size: 18px;
}
.move-down{
    margin-bottom: -100px;
}
/* .box-height{
    min-height: 220px;
} */
.fs-18{
    font-size: 18px;
}
.starter-title{
    position: relative;
    z-index: 1;
}
.starter-title::before{
    content: "";
    position: absolute;
    right: 0px;
    top: 35px;
    background-color: #efff00;
    width: 86%;
    height: 2px;
    z-index: -1;
}
.starter-title::after{
    content: "";
    position: absolute;
    right: 0%;
    top: 34px;
    background-color: #efff00;
    width: 32%;
    height: 4px;
    z-index: -1;
}
/* ----------------------
     Working with you
------------------------*/
.section-3{
    margin-top: 100px;
}
.img-wh{
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo-width-h{
    width: 85px;
    height: 85px;
    min-width: 85px;
    min-height: 85px;
    border: #211c6a 1px solid;
}
.move-up{
    margin-top: -2.3rem;
    background-color: #fff;
}
.company-boxes{
    border-radius: 30px 50px 50px 10px;
}
.box-shadow-company{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, -4px -4px 0px 0px rgba(33,28,106,1);
}
.bg-circles{
    z-index: 1;
}
.c-logo-img{
    z-index: 1;
}
.c-logo-img::before{
    content: '';
    background-image: url('../img/companies/circles/Ellipse-1.svg');
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 45px;
    z-index: -1;
}
.c-logo-img::after{
    content: '';
    background-image:url('../img/companies/circles/Ellipse-2.svg');
    background-size:40px 40px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45px;
    right: 55px;
    z-index: -1;
}
.bg-circles::before{
    content: '';
    background-image:url('../img/companies/circles/Ellipse-3.svg');
    background-size:20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 70px;
    z-index: 2;
}
.bg-circles::after{
    content: '';
    background-image:url('../img/companies/circles/Ellipse-4.svg');
    background-size:13px 13px;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 51px;
    right: 87px;
    z-index: 2;
}
/* .company-h{
    height: 130px;
} */
/* ----------------------
        why jobist?
------------------------*/
.section-4{
    margin-top: 5rem;
}
.bg-yellow{
    background-color: #efff00;
}
.square-box{
    display: flex;
    width: 48px;
    height: 48px;
}
/* ----------------------
        footer
------------------------*/
.footer-svg{
    width: 24%;
    right: 38%;
}
footer{
    position: relative;
    z-index: 0;
}
.footer{
    margin-top: 7.5rem;
}
.shape-fill{
    position: relative;
    top: 0;
    z-index: 1;
    fill: #fff;
}
ul li a{
    color: #b6b6b6;
}
.text-justify{
    text-align: justify;
}
.footer-text{
    max-width: 295px;
}
.footer-logo{
    width: 38px;
    height: auto;
}
.up-icon{
    position: relative;
    top: 30px;
    z-index: 2;
}
.svg-footer{
    margin-right: 50px;
    position: relative;
    top: 0;
}
.svg{
    z-index: 1;
    position: relative;
    top: 0;
}
/* ----------------------
        pagination
------------------------*/

.pagination-custom{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
}
.page-item{
    padding: 13px 13px;
    cursor: pointer;
}
.page-item-shadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.page-arrow{
    width: 20px;
    height: auto;
}
.page-num{
    padding: 4px 17px;
    cursor: pointer;
}
.page-num.active{
    background-color:#efff00;
}
/* ----------------------
        responsive
------------------------*/
@media (max-width: 1199.98px) {
    .margin-menu{
        margin-right: 0px;
        margin-left: 0px;
    }
    .svg-footer{
        margin-right: 40px;
    }
    .up-icon{
        position: relative;
        top: 15px;
    }
    .user-name{
        word-break:unset;
    }
}

@media (max-width: 991.98px) {
    .padding {
        padding: .5rem 1rem .5rem 1rem;
    }
    .svg-footer{
        margin-right: 30px;
    }
    .head-btn{
        font-size: 14px;
    }
    .fa-user,.fa-pen-to-square,.fa-right-from-bracket{
        font-size: 16px;
    }
    .nav-link{
        font-size: 14px;
    }
}

@media (max-width: 767.98px) {
    .section-4{
        margin-top: 3rem;
    }
    .up-icon{
        width: 20px;
        height: auto;
    }
    .svg-footer{
        margin-right: 25px;
    }
    .devider{
        border-left: unset;
        border-bottom: unset;
    }
    .margin-menu{
        padding-right: 20px;
    }
    .navbar-toggler:focus {
        box-shadow: unset;
        border: solid 1px #16115f;
    }
    .dropdown-menu {
        background-color: #585859;

        border: unset;
    }
    .dropdown-item.header-item{
        color: white;
        font-size: 14px;
    }
    .dropdown-menu.header-dm{
        box-shadow: unset;
    }
    .main-title::before{
        right: -12px;
        top: 17px;
        background-color: #efff00;
        width: 112%;
        height: 15px;
        z-index: -1;
    }
}
@media (max-width: 575.98px) {
    .svg-footer{
        margin-right: 20px;   
    }
    .up-icon{
        width: 17px;
        top: 10px;
    }
    .devider{
        border-left: unset;
        border-bottom: solid 2px #707070;
    }
    .title::before{
        width: 180px;
    }
    .move-down{
        margin-bottom: -100px;
    }
    .footer-text{
        margin-inline: auto;
        max-width: 350px;
    }
    .logo-main{
        width: 100px;
        height: auto;
    }
    .height-nav{
        padding-block: .5rem .5rem;
    }
    .navbar-toggler {
        font-size: 15px;
    }
    .fa-user,.fa-pen-to-square,.fa-right-from-bracket{
        font-size: 14px;
    }
    .padding {
        padding: .4rem .8rem .4rem .8rem;
    }
    .footer{
        margin-top: 4rem;
    }
    .fs-sm-15{
        font-size: 15px!important;
    }
    .logo-width-h{
        width: 65px;
        height: 65px;
        min-width: 65px;
        min-height: 65px;
        border: #211c6a 1px solid;
    }
    .page-arrow{
        width: 14px;
        height: auto;
    }
    .page-item{
        padding: 7px 10px;
    }
    .page-num{
        padding: 0px 10px;
        font-size: 18px!important;
    }
    .fs-18{
        font-size: 16px;
    }
    .c-logo-img::before{
        top: 11px;
        right: 22px;
    }
    .c-logo-img::after{
        top: 45px;
        right: 29px;
    }
    .bg-circles::before{
        top: 14px;
        right: 4px;
    }
    .bg-circles::after{
        top: 33px;
        right: 61px;
    }
    .bg-pattern2{
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}
@media (max-width: 400px) {
    .padding {
        padding: .1rem .5rem .1rem .5rem;
    }
    .navbar-toggler {
        font-size: 17px;
    }
    .head-btn{
        font-size: 13px;
    }
    .fa-user,.fa-pen-to-square,.fa-right-from-bracket{
        font-size: 13px;
    }
    .up-icon{
        width: 14px;
        top: 12px;
    }
}
@media (max-width: 360px) {
    .logo-main{
        margin-bottom: 7px;
    }
}