.btn-row{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}
.answer-row{
    margin-bottom: 0.9rem;
    border: 1px solid #e9edf4;
    border-radius: 20px;
    transition: all,.3s;
}
.answer-row:hover{
    border: 1px solid #6c5ffc;
}
.c-checkbox{
    padding-bottom: 5px !important;
    margin-right: 1.3rem;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem !important;
}

.active{
    border: 1px solid #6c5ffc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}