.second-sticky{
    position: sticky;
    top: 75px;
    z-index: 8;
    /* background-color: #FFDE4D; */
    background-color: #fee402;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.text-dark-blue{
    color: #001d3d;
    text-shadow: 4px 4px 2px rgba(255,153,0,0.48);
}
.fs-18{
    font-size: 18px;
}
.btn-modal{
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #211c6a;
    color: white;
    border: unset;
}
.modal-header{
    background-color: #ffee32;
    color: #001d3d;
}
.dark-mode .bg-title-modal {
    background-color: #404058;
    border: inherit !important;
    box-shadow: 0 3px 9px 0 rgba(28,28,51,.15);
}
.modal-title{
    margin-right: auto;
}
.modal-footer{
    padding: .6rem;
}
.modal-box{
    border: dashed 2px #6798c0;
    border-radius: 20px;
}
.bg-title-modal{
    background-color: #cce8fd;
    border-radius: 15px;
}
.bounce {
    animation: gelatine 0.8s infinite;
}

@keyframes gelatine {
    from,
    to {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}
  
.fieldset label {
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    display: flex;
    padding: 7px 23px 0px 15px;
    font-weight: 500;
    /* color: #191919; */
    -webkit-tap-highlight-color: transparent;
}

.fieldset input[type="radio"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    transition: linear 0.8s;
    height: 0;
    width: 0;
    -webkit-tap-highlight-color: transparent;
}

.fieldset input[type="radio"]:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    top: -7.5px;
    right: -14px;
    border-radius: 20px;
    border: 2px solid #003566;
    transition: linear 0.2s;
    cursor: pointer;
}
.dark-mode .fieldset input[type="radio"]:after{
    border: 2px solid #ffff24;
}

.fieldset input[type="radio"]:checked:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background: #ffff24;
    transition: linear 0.2s;
    cursor: pointer;
}


.fieldset input[type="radio"]:checked:before {
    content: url('../../images/check.png');
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    right: -21px;
    top: -13.5px;
    z-index: 1;
    cursor: pointer;
}
.dark-mode .fieldset input[type="radio"]:checked:before {
    content: url('../../images/dark-check.png');
}
.radio-item-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #3a88f6;
    border-bottom: 0;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0;
}

.radio-item {
    position: relative;
    border: solid 1px #6798c0;
    border-radius: 18px;
    margin-bottom: 10px;
}
.item-gateway{
    width: 50%;
}
.radio-item div{
    font-weight: 300;
    font-size: 16px;
    padding-right: 6%;
    padding-bottom: 10px;
}

.job-title{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    background-color: #fcd9ca;
    border-radius: 15px;
}
.dark-mode .job-title{
    background-color: #582a52;
}
.dark-mode .major-title{
    background-color: #004878;
}
.major-title{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    background-color: #b7dbf3;
    border-radius: 15px;
}

.test-title{
    width: fit-content;
    display: inline-block;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -3px 12px 13px -10px rgba(0,0,0,0.5);
}

.test-card-shadow{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.image-btl{
    border-bottom-left-radius: 30%!important;
    border-top-right-radius: 1rem;
}


.btn-tests {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 1rem!important;
    border-top-right-radius: 50px;
    width: 100%;
    border: none;
    color: #fff;
    text-align: center;
    padding-block: 16px;
    transition: all 0.4s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
.btn-tests{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  
.btn-tests:after {
    content: "\f178";
    font-family: FontAwesome;
    position: absolute;
    opacity: 0;  
    top: 16px;
    right: -20px;
    transition: 0.5s;
  }
  
.btn-tests:hover{
    padding-right: 24px;
    padding-left:8px;
    /* background-color: #211c6a; */
  }
  
.btn-tests:hover:after {
    opacity: 1;
    right: 30px;
  }

.haaland-bg{
    background-color: #ffd400 !important;
}
  
.neo-bg{
    background-color: #ff7b00!important;
}
  
.ghq-bg{
    background-color: #af46af!important;
}
.mbti-bg{
    background-color: #019201!important;
}
.option-test{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='23' ry='23' stroke='%237571A3FF' stroke-width='4' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 23px;
    width: fit-content;
}
.border-dash-purple2 {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='26' ry='26' stroke='%237571A3FF' stroke-width='5' stroke-dasharray='6%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 26px;
}
.modal-header .btn-close.share-close {
    margin: calc(-0.5 * var(--bs-modal-header-padding-y)) auto calc(-0.5 * var(--bs-modal-header-padding-x)) calc(-0.5 * var(--bs-modal-header-padding-y)) ;
}

.text-container {
    position: relative;
    max-height: 170px; 
    overflow: hidden;
    transition: all 0.8s ease;
}

.text-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.text-container.expanded {
    max-height: 2000px;
}

.text-container.expanded::after {
    display: none; 
}

.hidden-content {
    display: block; 
}

.section-test{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(229, 226, 240) 100%);
}


.lh-p{
    line-height: 1.8;
}
.img-article-wrapper {
    max-height: inherit;
    overflow: hidden;
    border-radius: 83% 17% 79% 21% / 26% 75% 25% 74%;
    background-color: #afa9ea;
}
.btn2 {
    background-color: #211c6a;
    padding: 10px 30px;
    border-radius: 7px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.btn2:hover {
    box-shadow: 0px 0px 0px 2.5px white inset, 0px 0px 0px 5px #211c6a;
}
.shadow-section{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}
.test-category{
    width: 160px;
    height: 100px;
    /* color: #fff; */
    vertical-align: middle;
}

.analysts-border{
    background-color: #e7dfea;
    border: dashed 3px #88619a;
}
.diplomats-border{
    background-color: #d6ece3;
    border: dashed 3px #33a474;
}
.sentinels-border{
    background-color: #d9eaf0;
    border: dashed 3px #4298b4;
}
.explorers-border{
    background-color: #f9eed7;
    border: dashed 3px #e4ae3a;
}
/* haaland  */
.realistic-color{
    background-color: #eedadc;
    border: dashed 3px #d40320;
}
.investigative-color{
    background-color: #eadfca;
    border: dashed 3px #f2ab19;
}
.Artistic-color{
    background-color: #c4e5c6;
    border: dashed 3px #14991c;
}
.Social-color{
    background-color: #ccdded;
    border: dashed 3px #2d7cc1;
}
.Enterprising-color{
    background-color: #d3d6ec;
    border: dashed 3px #0d1333;
}
.Conventional-color{
    background-color: #d8d1e9;
    border: dashed 3px #614b96;
}



.bg-pattern {
    padding-block: 10px;
    padding-inline: 10px;
  }
@media only screen and (min-width:765px){
    .c-p-size {
        font-size: 1.3rem;
    }
    .c-h-size {
        font-size: 1.75rem;
    }
    .c-padding {
        padding: 1.5rem;
    }
    .c-font-size {
        font-size: 1.1rem;
        line-height: 2rem;
        opacity: 0.8;
    }
    .custom-size{
        padding: 10px;
        border: 1px solid #ccc;
    }
    .c-pf-size {
        font-size: 1.6rem;
        opacity:0.8;
        line-height: 2rem;
    }

    
}
@media only screen and (max-width: 575.98px){
    .fs-18{
        font-size: 15px;
    }
    .item-gateway{
        width: 100%;
    }
}

@media only screen and (max-width:400px){
    .c-p-size {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .c-h-size {
        font-size: 1.40rem;
    }
    .c-padding {
        padding: 0.5rem;
    }
    .c-font-size {
        font-size: 0.9rem;
        line-height: 1.5rem;
        opacity: 0.8;
    }
    .c-img-margin{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .c-pf-size{
        font-size: 1.2rem;
        opacity:0.8;
        line-height: 2rem;
    }
    #scrollButton, #majorButton{
        font-size: 13px!important;
    }

}