
.bg-muted {
    background:#BBD2C5 !important; ;
    background-color: #BBD2C5 !important;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BBD2C5), to(#536976));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #BBD2C5, #536976);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #BBD2C5, #536976);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #BBD2C5, #536976);
    /* IE10 */
    background-image: -o-linear-gradient(top, #BBD2C5, #536976);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #BBD2C5, #536976);
}
.timeline {
    position: relative;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    color: #ffffff;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #c4d2e2;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 31px;
    text-align: right;
    margin-right: 20px;
    color: #000000;
    font-size: 1.5rem;
}

.timeline-row .timeline-time small {
    display: block;
    font-size: .8rem;
    color: #8796af;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 3px;
    width: 40px;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 100;
    background: #ffffff;
    border: 2px dashed #c4d2e2;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}

.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}

.timeline-row .timeline-content i {
    font-size: 2rem;
    color: #ffffff;
    line-height: 100%;
    padding: 10px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
    display: inline-block;
}

.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
}

.timeline-row .timeline-content .thumbs img {
    margin-bottom: 10px;
}





.timeline-row:nth-child(even) .timeline-content {
    background-color: #11998e;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#11998e), to(#38ef7d));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #11998e, #38ef7d);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #11998e, #38ef7d);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #11998e, #38ef7d);
    /* IE10 */
    background-image: -o-linear-gradient(top, #11998e, #38ef7d);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #11998e, #38ef7d);
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content  :after {
    left: -39px;
    border-right: 18px solid #38ef7d;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content  {
    background-color: #5433FF;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5433FF), to(#20BDFF));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #5433FF, #20BDFF);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, #5433FF, #20BDFF);
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, #5433FF, #20BDFF);
    /* IE10 */
    background-image: -o-linear-gradient(top, #5433FF, #20BDFF);
    /* Opera 11.10+ */
    background-image: linear-gradient(top, #5433FF, #20BDFF);
    margin-right: 40px;
    margin-left: 0;
    text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content  :after {
    right: -39px;
    border-left: 18px solid #20BDFF;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

@media (max-width: 767px) {
    .timeline {
        padding: 15px 10px;
    }
    .timeline:after {
        left: 28px;
    }
    .timeline .timeline-row {
        padding-left: 0;
        margin-bottom: 16px;
    }
    .timeline .timeline-row .timeline-time {
        position: relative;
        right: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row .timeline-time strong {
        display: inline-block;
        margin-right: 10px;
    }
    .timeline .timeline-row .timeline-icon {
        top: 52px;
        left: -2px;
        margin-left: 0;
    }
    .timeline .timeline-row .timeline-content {
        padding: 15px;
        margin-left: 56px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        position: relative;
    }
    .timeline .timeline-row .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding-right: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        right: auto;
        left: auto;
        top: 0;
        text-align: left;
        margin: 0 0 6px 56px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin-right: 0;
        margin-left: 55px;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        right: auto;
        left: -39px;
        top: 32px;
        border-right: 18px solid #5a99ee;
        border-left: inherit;
    }
    .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
        left: 20px;
    }
    .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
        left: 0;
    }
}
